.container-width {
  max-width: 900px;
}

.navbar-background {
  background-color: #DA261C !important;
}

@media print {
  .no-print {
    display: none !important;
  }
}

table {
  font-size: 0.9rem;
  border: 2px solid #000 !important;
}

th,
td {
  border: 1px solid #000 !important;
  padding: 8px !important;
}

thead th {
  background-color: #f2f2f2 !important;
}

.border-dark {
  border-color: #000 !important;
}

.ql-editor {
  min-height: 40px;
  padding: 0;
  line-height: 1.4;
}

.audit-info {
  font-size: 0.95rem;
}
