

/* Base color */
.nav-pills .nav-link {
  color: #FF2C1F; /* Bootstrap's red */
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

/* Hover and focus */
.nav-pills .nav-link:hover,
.nav-pills .nav-link:focus {
  color: #fff;
  background-color: #FF2C1F;
}

/* Active state */
.nav-pills .nav-link.active {
  background-color: #FF2C1F;
  color: #fff;
  border-color: #FF2C1F;
}

.nav-pills .nav-link {
  border-radius: 0.5rem;
}

.card {
    border-color: #FF2C1F !important;
    border-radius: 10px;
    background: transparent;
    border: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.card .card-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #FF2C1F;
}

input::file-selector-button {
    color: #fff;
    background-color: #FF2C1F;
}
.input-file {
    cursor: pointer !important;
  }

  legend.section-title {
  width: auto;
  padding: 0 12px;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 0;
  background: #fff;
  color: #343a40;
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
}
