<div class="m-2">
  <!-- Nav Tabs -->
  <ul class="nav nav-tabs nav-fill text-center mb-3 gap-2" id="formTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab">
        Customer & Company Info
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="sample-tab" data-bs-toggle="tab" data-bs-target="#sample" type="button" role="tab">
        Sample Details
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="plan-tab" data-bs-toggle="tab" data-bs-target="#plan" type="button" role="tab">Plan</button>
    </li>
  </ul>

  <form [formGroup]="masterForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
    <div class="tab-content" id="formTabsContent">
      <!-- TAB 1: CUSTOMER & COMPANY INFO -->
      <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
        <fieldset formGroupName="customerDetails" class="border rounded p-3 mb-4 position-relative">
          <legend class="w-auto px-2 fw-semibold" style="font-size: 1rem; position: absolute; top: -0.9em; left: 1em; background: white">
            Customer Details
          </legend>
          <div class="row row-cols-1 row-cols-md-4 g-3">
            <div>
              <label class="form-label">Customer Name *</label>
              <input class="form-control" formControlName="customerName" placeholder="Enter customer name" />
            </div>
            <div>
              <label class="form-label">Address *</label>
              <input class="form-control" formControlName="address" placeholder="Enter address" />
            </div>
            <div>
              <label class="form-label">State *</label>
              <input class="form-control" formControlName="state" placeholder="Enter state" />
            </div>
            <div>
              <label class="form-label">City *</label>
              <input class="form-control" formControlName="city" placeholder="Enter city" />
            </div>
            <div>
              <label class="form-label">PIN Code *</label>
              <input class="form-control" formControlName="pinCode" placeholder="Enter PIN code" />
            </div>
            <div>
              <label class="form-label">Country</label>
              <input class="form-control" formControlName="country" value="India" readonly />
            </div>
            <div>
              <label class="form-label">GST No.</label>
              <input class="form-control" formControlName="gstNo" placeholder="Enter GST number" />
              <div class="form-check small mt-1">
                <input type="checkbox" class="form-check-input" formControlName="gstNotApplicable" id="gstNA" />
                <label for="gstNA" class="form-label">GST not applicable</label>
              </div>
            </div>
            <div>
              <label class="form-label">Customer Type</label>
              <select class="form-select" formControlName="customerType">
                <option value="Walk In">Walk In</option>
                <option value="Credit Customer">Credit Customer</option>
              </select>
            </div>
            <div>
              <label class="form-label d-block">Report/Invoice Dispatch Mode</label>
              <div class="form-check form-check-inline">
                <input class="form-check-input mt-1" type="checkbox" id="dispatchEmail" formControlName="dispatchMode" value="Email" />
                <label class="form-label" for="dispatchEmail">Email</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input mt-1"
                  type="checkbox"
                  id="dispatchWhatsApp"
                  formControlName="dispatchMode"
                  value="WhatsApp"
                />
                <label class="form-label" for="dispatchWhatsApp">WhatsApp</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input mt-1" type="checkbox" id="dispatchCourier" formControlName="dispatchMode" value="Courier" />
                <label class="form-label" for="dispatchCourier">Courier</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input mt-1"
                  type="checkbox"
                  id="dispatchSelfPickup"
                  formControlName="dispatchMode"
                  value="Self Pickup"
                />
                <label class="form-label" for="dispatchSelfPickup">Self Pickup</label>
              </div>
            </div>
            <div>
              <label class="form-label d-block">Sample Return</label>
              <div class="form-check form-check-inline">
                <input class="form-check-input mt-1" type="radio" id="sampleReturnYes" formControlName="sampleReturn" value="Yes" />
                <label class="form-label" for="sampleReturnYes">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input mt-1" type="radio" id="sampleReturnNo" formControlName="sampleReturn" value="No" />
                <label class="form-label" for="sampleReturnNo">No</label>
              </div>
            </div>
            <div>
              <label class="form-label">Courier Address</label>
              <input class="form-control" formControlName="courierAddress" placeholder="Enter Courier Address" />
              <div class="form-check small mt-1">
                <input
                  type="checkbox"
                  class="form-check-input mt-1"
                  id="sameAsBillingAddress"
                  formControlName="sameAsBillingAddress"
                  checked
                />
                <label class="form-label" for="sameAsBillingAddress">Same as billing address</label>
              </div>
            </div>
          </div>

          <div class="">
            <div class="d-flex align-items-center text-muted my-3">
              <div class="flex-grow-1 border-top"></div>
              <div class="px-3 text-danger-500">Contact Info</div>
              <div class="flex-grow-1 border-top"></div>
            </div>
            <div class="table-responsive" formArrayName="contacts">
              <table class="table table-bordered align-middle table-sm shadow-sm">
                <thead class="table-light">
                   <tr class="text-nowrap text-muted small">
                    <th class="fw-medium text-center">Contact Person</th>
                    <th class="fw-medium text-center">Department</th>
                    <th class="fw-medium text-center">Mobile No</th>
                    <th class="fw-medium text-center">Email Id</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let contact of contactControls.controls; let i = index" [formGroupName]="i">
                    <td><input class="form-control" formControlName="name" placeholder="Enter contact person name" /></td>
                    <td><input class="form-control" formControlName="department" placeholder="Enter department" /></td>
                    <td><input class="form-control" formControlName="mobile" placeholder="Enter mobile number" /></td>
                    <td><input class="form-control" formControlName="email" placeholder="Enter email address" /></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row row-cols-1 row-cols-md-4 mb-3">
            <div>
              <label class="form-label">Stamped By</label>
              <input class="form-control" formControlName="stampedBy" placeholder="Enter name who stamped" />
            </div>
            <div>
              <label class="form-label">Sealed By</label>
              <input class="form-control" formControlName="sealedBy" placeholder="Enter name who sealed" />
            </div>
            <div>
              <label class="form-label">Advance Payment</label>
              <div class="input-group">
                <input type="number" class="form-control" formControlName="advancePayment" placeholder="Enter amount" />
                <span class="input-group-text">Rs</span>
              </div>
            </div>
            <div>
              <label class="form-label d-block">Bill Required</label>
              <div class="form-check form-check-inline">
                <input class="form-check-input mt-1" type="radio" id="billRequiredYes" formControlName="billRequired" value="Yes" />
                <label class="form-label" for="billRequiredYes">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input mt-1" type="radio" id="billRequiredNo" formControlName="billRequired" value="No" />
                <label class="form-label" for="billRequiredNo">No</label>
              </div>
            </div>
            <div>
              <label class="form-label d-block">Advance PI Required</label>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input mt-1"
                  type="radio"
                  id="advancePIRequiredYes"
                  formControlName="advancePIRequired"
                  value="Yes"
                />
                <label class="form-label" for="advancePIRequiredYes">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input mt-1" type="radio" id="advancePIRequiredNo" formControlName="advancePIRequired" value="No" />
                <label class="form-label" for="advancePIRequiredNo">No</label>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <div class="form-check">
                <input
                  class="form-check-input mt-1"
                  type="checkbox"
                  id="holdTestingUntilPiApproved"
                  formControlName="holdTestingUntilPiApproved"
                />
                <label class="form-label" for="holdTestingUntilPiApproved">Hold Testing Until PI approved</label>
              </div>
            </div>
          </div>

          <div class="mb-2">
            <div class="d-flex align-items-center text-muted my-3">
              <div class="flex-grow-1 border-top"></div>
              <div class="px-3 text-danger-500">TPI Witness Info</div>
              <div class="flex-grow-1 border-top"></div>
            </div>

            <div formArrayName="tpiWitnesses" class="table-responsive">
              <table class="table table-bordered table-sm align-middle">
                <thead class="table-light">
                   <tr class="text-nowrap text-muted small">
                    <th style="width: 5%">#</th>
                    <th style="width: 30%">TPI Witness</th>
                    <th class="fw-medium text-center">Email ID</th>
                    <th style="width: 10%">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let witness of tpiWitnesses.controls; let i = index" [formGroupName]="i">
                    <td>{{ i + 1 }}</td>
                    <td>
                      <select class="form-select form-select-sm" formControlName="witnessName">
                        <option value="">Choose an item</option>
                        <option *ngFor="let person of witnessList" [value]="person">{{ person }}</option>
                      </select>
                    </td>
                    <td>
                      <input class="form-control form-control-sm" formControlName="email" placeholder="Autofill or enter manually" />
                    </td>
                    <td class="text-center">
                      <button
                        type="button"
                        class="btn btn-outline-danger btn-sm"
                        (click)="removeTpiWitness(i)"
                        *ngIf="tpiWitnesses.length > 1"
                      >
                        <i class="bi bi-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="mb-2">
              <button type="button" class="btn btn-sm btn-outline-danger-600" (click)="addTpiWitness()">
                <i class="bi bi-plus-circle-dotted"></i>
                Add Witness
              </button>
            </div>

            <div class="form-check">
              <input class="form-check-input mt-1" type="checkbox" formControlName="conformityRequired" id="conformityCheck" />
              <label class="form-label" for="conformityCheck">Statement of Conformity Required</label>
            </div>
          </div>
        </fieldset>

        <fieldset formGroupName="companyDetails" class="border rounded p-3 mb-4 position-relative">
          <legend class="w-auto px-2 fw-semibold" style="font-size: 1rem; position: absolute; top: -0.9em; left: 1em; background: white">
            Company Details
          </legend>
          <div class="row row-cols-1 row-cols-md-4 g-3">
            <div>
              <label class="form-label">Tally Ledger Name</label>
              <input class="form-control" formControlName="tallyLedgerName" placeholder="Enter Tally Ledger Name" />
              <div class="form-check small mt-2">
                <input type="checkbox" class="form-check-input" formControlName="sameAsCustomerName" id="sameAsCustomerName" checked />
                <label for="sameAsCustomerName" class="form-label">Same as Customer Name</label>
              </div>
            </div>
            <div>
              <label class="form-label">Type of Company</label>
              <input class="form-control" formControlName="typeOfCompany" placeholder="Enter type of company" />
            </div>
            <div>
              <label class="form-label">Vendor Code</label>
              <input class="form-control" formControlName="vendorCode" placeholder="Enter vendor code" />
            </div>
            <div>
              <label class="form-label">Special Accounting Case</label>
              <input class="form-control" formControlName="specialAccountingCase" placeholder="Enter special accounting case" />
            </div>
            <div>
              <label class="form-label">Credit Limit Amount</label>
              <input type="number" class="form-control" formControlName="creditLimitAmount" placeholder="Enter credit limit amount" />
            </div>
            <div>
              <label class="form-label">Credit Limit Time (Days)</label>
              <input type="number" class="form-control" formControlName="creditLimitTime" placeholder="Enter credit limit time in days" />
            </div>
            <div class="form-check">
              <input class="form-check-input mt-1" type="checkbox" formControlName="specialDiscount" id="specDisc" />
              <label class="form-label" for="specDisc">Special Discount (MD/TD Approval)</label>
            </div>
            <div class="form-check ms-2">
              <input class="form-check-input mt-1" type="checkbox" formControlName="companyVerified" id="compVer" />
              <label class="form-label" for="compVer">Company Verified</label>
            </div>
            <div class="form-check">
              <input class="form-check-input mt-1" type="checkbox" formControlName="monthlyBilling" id="monthBill" />
              <label class="form-label" for="monthBill">Monthly Billing Customer</label>
            </div>
            <div class="form-check mt-1">
              <input
                class="form-check-input mt-1"
                type="checkbox"
                formControlName="mandatoryPerformaInvoiceWithMonthlyBilling"
                id="mandatoryPerformaInvoice"
              />
              <label class="form-label" for="mandatoryPerformaInvoice">Mandatory Performa Invoice + Monthly Billing</label>
            </div>
          </div>
        </fieldset>

        <fieldset formGroupName="additionalCustomerDetails" class="border rounded p-3 mb-4 position-relative">
          <legend class="w-auto px-2 fw-semibold" style="font-size: 1rem; position: absolute; top: -0.9em; left: 1em; background: white">
            Customer Details (Additional Info)
          </legend>

          <div class="row row-cols-1 row-cols-md-4 g-2">
            <div>
              <label class="form-label">Collection Time</label>
              <input class="form-control form-control-sm" formControlName="collectionTime" placeholder="Collection Time" readonly />
            </div>
            <div>
              <label class="form-label">Collection Date</label>
              <input type="date" class="form-control form-control-sm" formControlName="collectionDate" placeholder="Collection Date" />
            </div>
            <div>
              <label class="form-label">Report Issued To</label>
              <input class="form-control form-control-sm" formControlName="reportIssuedTo" placeholder="Report Issued To" />
            </div>
            <div>
              <label class="form-label">Address</label>
              <input class="form-control form-control-sm" formControlName="reportAddress" placeholder="Address" />
            </div>
            <div>
              <label class="form-label">Country</label>
              <input class="form-control form-control-sm" formControlName="country" value="India" readonly />
            </div>
            <div>
              <label class="form-label">State</label>
              <input class="form-control form-control-sm" formControlName="state" placeholder="State" />
            </div>
            <div>
              <label class="form-label">City</label>
              <input class="form-control form-control-sm" formControlName="city" placeholder="City" />
            </div>
            <div>
              <label class="form-label">PIN Code</label>
              <input class="form-control form-control-sm" formControlName="pinCode" placeholder="PIN Code" />
            </div>
            <div>
              <label class="form-label">Report/Invoice Dispatch Mode</label>
              <select class="form-select form-select-sm" formControlName="dispatchMode">
                <option>Email</option>
                <option>WhatsApp</option>
                <option>Courier</option>
                <option>Self Pickup</option>
              </select>
            </div>
          </div>

          <div class="">
            <div class="d-flex align-items-center text-muted my-2">
              <div class="flex-grow-1 border-top"></div>
              <div class="px-3 text-danger-500">Contact Info</div>
              <div class="flex-grow-1 border-top"></div>
            </div>
            <div class="table-responsive" formArrayName="contacts">
              <table class="table table-bordered align-middle table-sm">
                <thead class="table-light">
                   <tr class="text-nowrap text-muted small">
                    <th class="fw-medium text-center"></th>
                    <th class="fw-medium text-center">Contact Person</th>
                    <th class="fw-medium text-center">Department</th>
                    <th class="fw-medium text-center">Mobile No</th>
                    <th class="fw-medium text-center">Email ID</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let contact of additionalContactControls.controls; let i = index" [formGroupName]="i">
                    <td>
                      <span class="form-check"><input type="checkbox" formControlName="enabled" class="form-check-input mt-1" /></span>
                    </td>
                    <td><input class="form-control form-control-sm" formControlName="name" placeholder="Contact Person" /></td>
                    <td><input class="form-control form-control-sm" formControlName="department" placeholder="Department" /></td>
                    <td><input class="form-control form-control-sm" formControlName="mobile" placeholder="Mobile No" /></td>
                    <td><input class="form-control form-control-sm" formControlName="email" placeholder="Email ID" /></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="">
            <label class="form-label">Upload Company Letter or Request Letter</label>
            <div class="d-flex gap-2 align-items-center">
              <input type="file" class="form-control form-control-sm w-auto" (change)="onFileUpload($event)" />
              <button type="button" class="btn btn-danger btn-sm" (click)="removeAttachment()">Delete</button>
            </div>
          </div>
        </fieldset>
      </div>

      <!-- TAB 2: SAMPLE DETAILS -->
      <div class="tab-pane fade" id="sample" role="tabpanel" aria-labelledby="sample-tab">
        <fieldset formArrayName="sampleDetails" class="border rounded p-3 mb-3 position-relative">
          <legend class="w-auto px-2 fw-semibold" style="font-size: 1rem; position: absolute; top: -0.9em; left: 1em; background: white">
            Sample Details
          </legend>
          <div class="d-flex justify-content-between align-items-center mb-2">
            <span class="fw-bold">Sample Entries</span>
            <button type="button" class="btn btn-sm btn-outline-danger-600" (click)="addSample()">
              <i class="bi bi-plus-circle-dotted"></i>
              Add Sample
            </button>
          </div>

          <div class="table-responsive">
            <table class="table table-bordered table-sm align-middle">
              <thead class="table-light">
                 <tr class="text-nowrap text-muted small">
                  <th class="fw-medium text-center">Sr No.</th>
                  <th class="fw-medium text-center">Lab No.</th>
                  <th class="fw-medium text-center">Sample Details</th>
                  <th class="fw-medium text-center">Identification</th>
                  <th class="fw-medium text-center">Nature of Sample</th>
                  <th class="fw-medium text-center">Remarks</th>
                  <th class="fw-medium text-center">Quantity</th>
                  <th class="fw-medium text-center">Attach Photo</th>
                  <th class="fw-medium text-center">Image</th>
                  <th class="fw-medium text-center">Disable</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let sample of sampleDetails.controls; let i = index" [formGroupName]="i">
                  <td>{{ i + 1 }}</td>
                  <td><input class="form-control form-control-sm" formControlName="labNo" readonly /></td>
                  <td><input class="form-control form-control-sm" formControlName="details" placeholder="Enter details" required /></td>
                  <td><input class="form-control form-control-sm" formControlName="identification" placeholder="Identification" /></td>
                  <td><input class="form-control form-control-sm" formControlName="nature" placeholder="Enter nature" required /></td>
                  <td><input class="form-control form-control-sm" formControlName="remarks" placeholder="Remarks" /></td>
                  <td><input class="form-control form-control-sm" type="number" formControlName="quantity" min="1" /></td>
                  <td class="text-center">
                    <input type="checkbox" class="form-check-input" formControlName="attachPhoto" />
                  </td>
                  <td>
                    <button type="button" class="btn btn-sm btn-outline-danger-600" (click)="onUploadSampleImage(i)">+ Image</button>
                  </td>
                  <td class="text-center">
                    <input type="checkbox" class="form-check-input" formControlName="disabled" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </fieldset>
        <!-- SECTION 2: CASE DETAILS + IDENTIFICATION INFO -->
        <fieldset class="border rounded p-3 mb-2 position-relative">
          <legend class="w-auto px-2 fw-semibold" style="font-size: 1rem; position: absolute; top: -0.9em; left: 1em; background: white">
            Case & Sample Identification
          </legend>
          <div class="d-flex justify-content-between align-items-center mb-2">
            <span class="fw-bold">Case No: DMSPL-000001</span>
            <button type="button" class="btn btn-sm btn-outline-danger-600" (click)="addAdditionalSampleRow()">
              <i class="bi bi-plus-circle-dotted"></i>
              Add Additional Info
            </button>
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <table class="table table-bordered text-center align-middle table-sm mb-0">
              <thead class="table-light">
                 <tr class="text-nowrap text-muted small">
                  <th class="fw-medium text-center"></th>
                  <th class="fw-medium text-center">Description</th>
                  <th *ngFor="let sample of sampleNumbers"><span class="fw-medium text-center">{{ sample }}</span></th>
                  <th class="fw-medium text-center">Actions</th>
                </tr>
              </thead>
              <tbody formArrayName="sampleAdditionalDetails">
                <tr *ngFor="let row of sampleAdditionalDetails.controls; let rowIndex = index" [formGroupName]="rowIndex">
                  <td>
                    <span class="form-check">
                      <input type="checkbox" class="form-check-input mt-1" formControlName="enabled" />
                    </span>
                  </td>

                  <td>
                    <input type="text" class="form-control form-control-sm" formControlName="label" placeholder="Enter Label" />
                  </td>
                  <ng-container [formArrayName]="'values'">
                    <td *ngFor="let valueCtrl of getAdditionSampleRowValues(rowIndex)">
                      <input type="text" class="form-control form-control-sm" [formControl]="valueCtrl" placeholder="Enter Value" />
                    </td>
                  </ng-container>
                  <td>
                    <button class="btn btn-sm btn-outline-danger" (click)="sampleAdditionalDetails.removeAt(rowIndex)">
                      <i class="bi bi-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </fieldset>
      </div>
      <!-- PLAN TAB TABLE FORMAT -->
      <div class="tab-pane fade show" id="plan" role="tabpanel">
        <div class="border rounded p-3 mb-2 position-relative">
          <legend class="w-auto px-2 fw-semibold" style="font-size: 1rem; position: absolute; top: -0.9em; left: 1em; background: white">
            Plan Details
          </legend>
          <!-- sample collection -->
          <div>
            <!-- Compact Header with Aligned Buttons -->
            <div class="d-flex align-items-center justify-content-between mb-2">
              <label class="mb-0 fw-semibold" style="font-size: 1rem">Test Plan (Case No: DMSPL-000001)</label>
              <div>
                <button type="button" class="btn btn-sm btn-outline-danger-600 me-2" (click)="addPlanRow()">
                  <i class="bi bi-plus-circle-dotted"></i>
                  Add Row
                </button>
                <button type="button" class="btn btn-sm btn-outline-danger-600" (click)="insertPlanRow(samplePlans.length - 1)">
                  <i class="bi bi-plus-circle-dotted"></i>
                  Insert Row
                </button>
              </div>
            </div>

            <!-- Table -->
            <div class="table-responsive">
              <table class="table table-bordered text-center align-middle table-sm mb-0">
                <thead class="table-light">
                   <tr class="text-nowrap text-muted small">
                    <th class="fw-medium text-center"></th>
                    <th class="fw-medium text-center">Description</th>
                    <th *ngFor="let sample of sampleNumbers"><span class="fw-medium text-center">{{ sample }}</span></th>
                    <th class="fw-medium text-center">Action</th>
                  </tr>
                </thead>
                <tbody formArrayName="samplePlans">
                  <tr *ngFor="let row of samplePlans.controls; let rowIndex = index" [formGroupName]="rowIndex">
                    <td>
                      <span class="form-check">
                        <input type="checkbox" class="form-check-input mt-1" formControlName="enabled" />
                      </span>
                    </td>
                    <td>
                      <input type="text" class="form-control form-control-sm" formControlName="label" placeholder="Enter Label" />
                    </td>
                    <ng-container [formArrayName]="'values'">
                      <td *ngFor="let valueCtrl of getPlanRowValues(rowIndex)">
                        <input type="text" class="form-control form-control-sm" [formControl]="valueCtrl" placeholder="Enter Value" />
                      </td>
                    </ng-container>
                    <td>
                      <button class="btn btn-sm btn-outline-danger" (click)="samplePlans.removeAt(rowIndex)">
                        <i class="bi bi-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- THIRD SECTION: SAMPLE-WISE MULTI-TAB TEST PLAN -->
          <div formArrayName="sampleTestPlans" class="mt-3">
            <div
              *ngFor="let sampleGroup of sampleTestPlans.controls; let i = index"
              [formGroupName]="i"
              class="mb-3 border rounded p-3 position-relative"
            >
              <legend
                class="w-auto px-2 fw-semibold"
                style="font-size: 1rem; position: absolute; top: -0.9em; left: 1em; background: white"
              >
                Sample No: {{ sampleGroup.get("sampleNo")?.value }}
              </legend>

              <ul class="nav nav-tabs mb-3" role="tablist">
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link active"
                    id="general-tab-{{ i }}"
                    [attr.data-bs-toggle]="'tab'"
                    [attr.data-bs-target]="'#general-' + i"
                    type="button"
                    role="tab"
                  >
                    General Test
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="chemical-tab-{{ i }}"
                    [attr.data-bs-toggle]="'tab'"
                    [attr.data-bs-target]="'#chemical-' + i"
                    type="button"
                    role="tab"
                  >
                    Chemical Test
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="product-tab-{{ i }}"
                    [attr.data-bs-toggle]="'tab'"
                    [attr.data-bs-target]="'#product-' + i"
                    type="button"
                    role="tab"
                  >
                    Product Test
                  </button>
                </li>
              </ul>

              <div class="tab-content">
                <!-- General Test -->
                <div class="tab-pane fade show active" id="general-{{ i }}" role="tabpanel">
                  <ng-container *ngIf="getMethodRows(i, 'generalTests').length > 0">
                    <div [formGroup]="getGeneralOrProductTestSection(i, 'generalTests')">
                      <div class="row row-cols-auto row-cols-md-2 mb-2">
                        <div class="">
                          <label class="form-label">Specification 1</label>
                          <input type="text" formControlName="specification1" class="form-control" placeholder="Add Specification" />
                        </div>
                        <div class="">
                          <label class="form-label">Specification 2</label>
                          <input type="text" formControlName="specification2" class="form-control" placeholder="Add Specification" />
                        </div>
                      </div>

                      <table class="table table-bordered table-sm">
                        <thead class="table-light">
                           <tr class="text-nowrap text-muted small">
                            <th class="fw-medium text-center">Sr No.</th>
                            <th class="fw-medium text-center">Test Method</th>
                            <th class="fw-medium text-center">Alt Method</th>
                            <th class="fw-medium text-center">Quantity</th>
                            <th class="fw-medium text-center">Report No</th>
                            <th class="fw-medium text-center">ULR No / Cancel</th>
                            <th class="fw-medium text-center">Action</th>
                          </tr>
                        </thead>
                        <tbody formArrayName="methods" *ngIf="getTestArray(i, 'generalTests').length > 0">
                          <tr *ngFor="let method of getMethodRows(i, 'generalTests').controls; let j = index" [formGroupName]="j">
                            <td>{{ j + 1 }}</td>
                            <td>
                              <input class="form-control form-control-sm" formControlName="testMethod" placeholder="Enter Test Method" />
                            </td>
                            <td>
                              <input
                                class="form-control form-control-sm"
                                formControlName="alternateMethod"
                                placeholder="Enter Alternate Method"
                              />
                            </td>
                            <td>
                              <input
                                type="number"
                                class="form-control form-control-sm"
                                formControlName="quantity"
                                placeholder="Enter Quantity"
                              />
                            </td>
                            <td>
                              <input class="form-control form-control-sm" formControlName="reportNo" placeholder="Enter Report Number" />
                            </td>
                            <td>
                              <input class="form-control form-control-sm" formControlName="ulrNo" placeholder="Enter ULR Number" readonly />
                              <div class="form-check mt-1">
                                <input type="checkbox" class="form-check-input mt-1" formControlName="cancel" />
                                <label class="form-label">Cancel</label>
                              </div>
                            </td>
                            <td>
                              <div *ngIf="getTestArray(i, 'generalTests').length > 0">
                                <button class="btn btn-sm btn-outline-danger" (click)="getMethodRows(i, 'generalTests').removeAt(j)">
                                  <i class="bi bi-trash"></i>
                                </button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <button class="btn btn-sm btn-outline-danger-600" (click)="addMethodRow(i, 'generalTests')">
                        <i class="bi bi-plus-circle-dotted"></i>
                        Add Row
                      </button>
                    </div>
                  </ng-container>
                </div>

                <!-- Chemical Test Tab -->
                <div class="tab-pane fade" id="chemical-{{ i }}" role="tabpanel">
                  <div formArrayName="chemicalTests">
                    <ng-container *ngIf="getTestArray(i, 'chemicalTests').length > 0">
                      <div *ngFor="let chemTest of getTestArray(i, 'chemicalTests').controls; let j = index" [formGroupName]="j">
                        <div class="p-3 border rounded mb-3">
                          <label class="form-label fw-semibold">Chemical Test - Sample No: {{ sampleNumbers[i] }}</label>

                          <!-- ✅ Test Type Checkboxes -->
                          <div formGroupName="testTypes" class="row my-2">
                            <div class="col-md-2" *ngFor="let test of testTypeList">
                              <div class="form-check">
                                <input
                                  type="checkbox"
                                  [formControlName]="test"
                                  class="form-check-input mt-1"
                                  id="{{ test }}-{{ i }}-{{ j }}"
                                />
                                <label class="form-label" [for]="test + '-' + i + '-' + j">{{ test }}</label>
                              </div>
                            </div>
                          </div>

                          <!-- ✅ Other Fields -->
                          <div class="row mt-3">
                            <div class="col-md-3">
                              <label class="form-label">Base</label>
                              <input type="text" formControlName="base" class="form-control" placeholder="Enter Base" />
                            </div>
                            <div class="col-md-3">
                              <label class="form-label">Specification 1</label>
                              <input
                                type="text"
                                formControlName="specification1"
                                class="form-control"
                                placeholder="Enter Specification 1"
                              />
                            </div>
                            <div class="col-md-3">
                              <label class="form-label">Specification 2</label>
                              <input
                                type="text"
                                formControlName="specification2"
                                class="form-control"
                                placeholder="Enter Specification 2"
                              />
                            </div>
                            <div class="col-md-3">
                              <label class="form-label">Test Method</label>
                              <input type="text" formControlName="testMethod" class="form-control" placeholder="Enter Test Method" />
                            </div>
                          </div>

                          <!-- 🔷 Elements Table -->
                          <div class="mt-3">
                            <label class="fw-semibold">Elements</label>
                            <table class="table table-bordered table-sm mt-2">
                              <thead class="table-light">
                                 <tr class="text-nowrap text-muted small">
                                  <th class="fw-medium text-center">Sr No.</th>
                                  <th class="fw-medium text-center">Element</th>
                                  <th class="fw-medium text-center">Select</th>
                                  <th class="fw-medium text-center">Action</th>
                                </tr>
                              </thead>
                              <tbody formArrayName="elements">
                                <tr *ngFor="let el of getElementRows(i).controls; let j = index" [formGroupName]="j">
                                  <td>{{ j + 1 }}</td>
                                  <td><input class="form-control form-control-sm" formControlName="element" /></td>
                                  <td>
                                    <input type="checkbox" class="form-check-input" formControlName="selected" />
                                  </td>
                                  <td>
                                    <button class="btn btn-sm btn-outline-danger" (click)="removeElementRow(i, j)">
                                      <i class="bi bi-trash"></i>
                                    </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>

                            <button class="btn btn-sm btn-outline-danger-600" (click)="addElementRow(i)"><i class="bi bi-plus-circle-dotted"></i> Add Element</button>
                          </div>
                        </div>
                      </div>
                    </ng-container>

                    <button type="button" class="btn btn-sm btn-outline-danger-600" (click)="addTestBlock(i, 'chemicalTests')">
                      <i class="bi bi-plus-circle-dotted"></i> Add Chemical Test
                    </button>
                  </div>
                </div>

                <!-- Product Test -->
                <div class="tab-pane fade" id="product-{{ i }}" role="tabpanel">
                  <ng-container *ngIf="getMethodRows(i, 'productTests').length > 0">
                    <div [formGroup]="getGeneralOrProductTestSection(i, 'productTests')">
                      <div class="row mb-2">
                        <div class="col-md-6">
                          <label class="form-label">Specification 1</label>
                          <input type="text" formControlName="specification1" class="form-control" placeholder="Enter Specification 1" />
                        </div>
                        <div class="col-md-6">
                          <label class="form-label">Specification 2</label>
                          <input type="text" formControlName="specification2" class="form-control" placeholder="Enter Specification 2" />
                        </div>
                      </div>

                      <table class="table table-bordered table-sm">
                        <thead class="table-light">
                           <tr class="text-nowrap text-muted small">
                            <th class="fw-medium text-center">Sr No.</th>
                            <th class="fw-medium text-center">Test Method</th>
                            <th class="fw-medium text-center">Alt Method</th>
                            <th class="fw-medium text-center">Quantity</th>
                            <th class="fw-medium text-center">Report No</th>
                            <th class="fw-medium text-center">ULR No / Cancel</th>
                            <th class="fw-medium text-center">Action</th>
                          </tr>
                        </thead>
                        <tbody formArrayName="methods" *ngIf="getMethodRows(i, 'productTests').length > 0">
                          <tr *ngFor="let method of getMethodRows(i, 'productTests').controls; let j = index" [formGroupName]="j">
                            <td>{{ j + 1 }}</td>
                            <td>
                              <input class="form-control form-control-sm" formControlName="testMethod" placeholder="Enter Test Method" />
                            </td>
                            <td>
                              <input
                                class="form-control form-control-sm"
                                formControlName="alternateMethod"
                                placeholder="Enter Alternate Method"
                              />
                            </td>
                            <td>
                              <input
                                type="number"
                                class="form-control form-control-sm"
                                formControlName="quantity"
                                placeholder="Enter Quantity"
                              />
                            </td>
                            <td>
                              <input class="form-control form-control-sm" formControlName="reportNo" placeholder="Enter Report Number" />
                            </td>
                            <td>
                              <input
                                class="form-control form-control-sm"
                                formControlName="ulrNo"
                                placeholder="Enter ULR Number"
                                [value]="sampleNumbers[i]"
                                readonly
                              />
                              <div class="form-check mt-1">
                                <input type="checkbox" class="form-check-input" formControlName="cancel" />
                                <label class="form-label">Cancel</label>
                              </div>
                            </td>
                            <td>
                              <div *ngIf="getMethodRows(i, 'productTests').length > 0">
                                <button class="btn btn-sm btn-outline-danger" (click)="getMethodRows(i, 'productTests').removeAt(j)">
                                  <i class="bi bi-trash"></i>
                                </button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <button class="btn btn-sm btn-outline-danger-600" (click)="addMethodRow(i, 'generalTests')">
                        <i class="bi bi-plus-circle-dotted"></i>
                        Add Row
                      </button>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="d-flex justify-content-end gap-2">
          <button type="button" class="btn btn-secondary btn-sm">Reset</button>
          <button type="submit" class="btn btn-primary btn-sm" [disabled]="!masterForm.valid">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
