<div class="container-fluid p-3 redwhite-bg">
  <!-- SECTION 1: SAMPLE SUMMARY -->
  <div class="card shadow-sm mb-3 red-card">
    <div class="card-body">
      <legend
        class="w-auto px-2 fw-semibold theme-color"
        style="font-size: 1rem; position: absolute; top: -0.9em; left: 1em; background: white"
      >
        Sample Information
      </legend>

      <div class="row g-2 compact-info">
        <div class="col-md-2">
          <strong>Case No:</strong>
          {{ inward.caseNo }}
        </div>
        <div class="col-md-2">
          <strong>Customer</strong>
          {{ inward.customerName }}
        </div>
        <div class="col-md-2">
          <strong>Sample No:</strong>
          {{ sample.sampleNo }}
        </div>
        <div class="col-md-2">
          <strong>Material:</strong>
          {{ sample.material }}
        </div>
        <div class="col-md-2">
          <strong>Metal Class:</strong>
          {{ sample.metalClassification }}
        </div>

        <div class="col-md-2">
          <strong>Condition:</strong>
          {{ sample.productCondition }}
        </div>
        <div class="col-md-2">
          <strong>Batch No:</strong>
          {{ sample.batchNo }}
        </div>
        <div class="col-md-3">
          <strong>Remarks:</strong>
          {{ sample.remarks }}
        </div>
      </div>
    </div>
  </div>

  <!-- SECTION 2: PLANS + TESTS -->
  <div class="accordion" id="plansAccordion" [formGroup]="resultForm">
    <div formArrayName="plans">
      <div *ngFor="let plan of plansFA.controls; let p = index" class="accordion-item border-danger p-2" [formGroupName]="p">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed fw-bold text-danger py-2 px-2"
            type="button"
            data-bs-toggle="collapse"
            [attr.data-bs-target]="'#plan-' + p"
            aria-expanded="false"
            [attr.aria-controls]="'plan-' + p"
          >
            {{ plans[p].type }} TESTS — (Specification: {{ plans[p].specification }})
          </button>
        </h2>

        <div [id]="'plan-' + p" class="accordion-collapse collapse" data-bs-parent="#plansAccordion">
          <div class="accordion-body">
            <div formArrayName="tests">
              <div
                *ngFor="let test of getTests(p).controls; let t = index"
                class="card mb-3 border-secondary test-card"
                [formGroupName]="t"
              >
                <div class="card-header bg-light">
                  <h6 class="fw-bold">
                    {{ plans[p].tests[t].name }}
                    <!-- <span class="text-muted">({{ plans[p].tests[t].standard }})</span> -->
                    <span class="float-end text-danger">Report: {{ plans[p].tests[t].reportNo }}</span>
                  </h6>
                </div>

                <!-- RESULT ENTRY TABLE -->
                <div class="card-body p-2">
                  <table class="table table-sm table-bordered align-middle">
                    <thead class="table-danger text-center small">
                      <tr>
                        <th>Parameter</th>
                        <th>Unit</th>
                        <th *ngIf="plans[p].type === 'Chemical'">Min</th>
                        <th *ngIf="plans[p].type === 'Chemical'">Max</th>
                        <th style="width: 150px">Value</th>
                        <th *ngIf="plans[p].type === 'Chemical'">Status</th>
                        <th style="width: 200px">Remarks</th>
                        <th style="width: 80px">Action</th>
                      </tr>
                    </thead>

                    <tbody formArrayName="parameters">
                      <tr
                        *ngFor="let row of getParameters(p, t).controls; let r = index"
                        [formGroupName]="r"
                        [ngClass]="{
                          'row-error': isValueOutOfRange(row.value),
                          'row-ok': isValueWithinRange(row.value)
                        }"
                      >
                        <td>
                          <app-searchable-dropdown
                            class="w-100"
                            [placeholder]="'Search Parameter'"
                            [labelName]="'Parameter'"
                            [fetchDataFn]="getParameterDrop(plans[p].type)"
                            (itemSelected)="onParameterSelected(p, t, r, $event)"
                            [hideLabel]="true"
                            [selectedItem]="row.get('parameterID')?.value"
                          ></app-searchable-dropdown>
                        </td>
                        <!-- <td><input class="form-control form-control-sm" formControlName="parameterName" /></td> -->
                        <td><input class="form-control form-control-sm" formControlName="unit" readonly /></td>

                        <!-- Chemical Only -->
                        <td *ngIf="plans[p].type === 'Chemical'">
                          <input
                            type="text"
                            class="form-control form-control-sm"
                            formControlName="minValue"
                            [readOnly]="!row.value?.altered"
                            appDecimalOnly
                          />
                        </td>

                        <td *ngIf="plans[p].type === 'Chemical'">
                          <input
                            type="text"
                            class="form-control form-control-sm"
                            [ngClass]="{'is-invalid' : plans[p].type === 'Chemical' && row.get('maxValue')?.invalid && row.get('maxValue')?.touched && row.get('maxValue')?.errors && row.get('altered')?.value}"
                            formControlName="maxValue"
                            [readOnly]="!row.value?.altered"
                            appDecimalOnly
                          />
                          <span *ngIf="plans[p].type === 'Chemical' && row.get('maxValue')?.errors && row.get('maxValue')?.touched" class="text-danger">Max Value is required</span>
                        </td>

                        <td>
                          <input
                            type="text"
                            class="form-control form-control-sm"
                            formControlName="value"
                            placeholder="Enter Value"
                            (input)="onValueChanged(p, t, r)"
                            appDecimalOnly
                          />
                        </td>

                        <!-- PASS / FAIL badge -->
                        <td *ngIf="plans[p].type === 'Chemical'" class="text-center">
                          <span *ngIf="row.value.isWithinLimit === true" class="badge bg-success">PASS</span>
                          <span *ngIf="row.value.isWithinLimit === false" class="badge bg-danger">FAIL</span>
                          <span *ngIf="row.value.isWithinLimit === null">-</span>
                        </td>

                        <td><input class="form-control form-control-sm" formControlName="remarks" placeholder="Add Remark" /></td>

                        <td class="text-center">
                          <button class="btn btn-sm btn-outline-danger" (click)="removeParameter(p, t, r)" type="button">
                            <i class="bi bi-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <button class="btn btn-sm btn-outline-danger-600" type="button" (click)="addParameter(p, t)">
                    <i class="bi bi-plus-circle-dotted"></i>
                    Add Parameter
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Action Buttons -->
  <div class="text-end mt-3">
    <button class="btn btn-secondary me-2" type="button" (click)="saveResults()">Save</button>
    <button class="btn btn-danger" type="button" (click)="completeResults()">Complete</button>
  </div>
</div>
