<div class="container-fluid mt-4 d-flex flex-column align-items-center">
  <div class="card w-100 shadow-lg">
    <div class="card-header card-form-header text-white d-flex justify-content-between align-items-center">
      <label class="text-md fw-medium ms-3">{{ formTitle }}</label>
      <button type="button" class="btn btn-outline-light btn-sm me-3" (click)="onCancel()">
        <i class="bi bi-arrow-left"></i> Back to List
      </button>
    </div>

    <div class="card-body">
      <form [formGroup]="planForm" (ngSubmit)="onSubmit()">

        <!-- Section I: Header Information -->
        <div class="accordion-section mb-3">
          <div class="section-header" (click)="toggleSection('header')">
            <i class="bi" [ngClass]="openSections['header'] ? 'bi-chevron-down' : 'bi-chevron-right'"></i>
            <span class="fw-bold ms-2">I. Header Information</span>
          </div>
          <div *ngIf="openSections['header']" class="section-body">
            <div class="row g-3">
              <div class="col-md-2">
                <label class="form-label">Form Number <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="formatNo" list="formNumbers"
                  placeholder="e.g. F-8" [ngClass]="{'is-invalid': isFieldInvalid('formatNo')}" readonly>
                <datalist id="formNumbers">
                  <option *ngFor="let form of formNumbers" [value]="form"></option>
                </datalist>
                <app-field-error [control]="planForm.get('formatNo')" label="Form Number" [submitted]="submitted" />
              </div>
              <div class="col-md-2">
                <label class="form-label">Document No <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="documentNo" placeholder="Enter Document No"
                  [ngClass]="{'is-invalid': isFieldInvalid('documentNo')}" readonly>
                <app-field-error [control]="planForm.get('documentNo')" label="Document No" [submitted]="submitted" />
              </div>
              <div class="col-md-2">
                <label class="form-label">Issue No <span class="text-danger">*</span></label>
                <input type="text" class="form-control bg-light" formControlName="issueNo" readonly placeholder="Auto">
              </div>
              <div class="col-md-3">
                <label class="form-label">Rev No <span class="text-danger">*</span></label>
                <input type="text" class="form-control bg-light" formControlName="revNo" readonly placeholder="Auto">
              </div>
              <div class="col-md-3">
                <label class="form-label">Date <span class="text-danger">*</span></label>
                <input type="date" class="form-control bg-light" formControlName="date" readonly>
              </div>

            </div>
          </div>
        </div>

        <!-- Section II: Training Courses -->
        <div class="accordion-section mb-3">
          <div class="section-header" (click)="toggleSection('courses')">
            <i class="bi" [ngClass]="openSections['courses'] ? 'bi-chevron-down' : 'bi-chevron-right'"></i>
            <span class="fw-bold ms-2">II. Training Plans</span>
          </div>
          <div *ngIf="openSections['courses']" class="section-body p-3 border border-top-0 rounded-bottom">

            <div class="row ">

              <div class="col-md-4">
                <label class="form-label small fw-bold">Plan Description <span class="text-danger">*</span></label>
                <br>

                <textarea class="option-textarea" formControlName="trainingTopic"
                  placeholder=" Requirement of National/International standards" rows="2" maxlength="250" cols="55"
                  [readonly]="isViewMode" [ngClass]="{
                                'is-invalid':
                               planForm.get('trainingTopic')?.touched &&
                                planForm.get('trainingTopic')?.invalid
                            }">
                        </textarea>

                <app-field-error [control]="planForm.get('trainingTopic')" label="Training Description"
                  [submitted]="submitted" />
              </div>
              <div class="col-md-2">
                <label class="form-label small fw-bold">Planning Year <span class="text-danger">*</span></label>
                <select class="form-select" formControlName="planningYear"
                  [ngClass]="{'is-invalid': isFieldInvalid('planningYear')}">
                  <option [ngValue]="null">Select Year</option>
                  <option *ngFor="let y of yearOptions" [ngValue]="y">{{ y }}</option>
                </select>
                <app-field-error [control]="planForm.get('planningYear')" label="Planning Year"
                  [submitted]="submitted" />
              </div>
              <div class="col-md-2">
                <label class="form-label small fw-bold">Month</label>
                <select class="form-select " formControlName="planMonth">
                  <option [ngValue]="null" disabled>Select Month</option>
                  <option *ngFor="let m of months" [ngValue]="m">{{ m }}</option>
                </select>
              </div>
              <div class="col-md-4">
                <label class="form-label small fw-bold">To be attended by (Audience)</label>
                <input type="text" class="form-control" formControlName="targetAudience"
                  placeholder="All staff / Specific Dept">
                <div *ngIf="
            planForm.get('targetAudience')?.invalid &&
            planForm.get('targetAudience')?.touched
        " class="text-danger text-sm mt-1">

                  To be attended by Name is required.

                </div>
              </div>
              <div class="col-md-3">

                <label class="form-label small fw-bold">
                  Agency
                  <span class="text-danger">*</span>
                </label>

                <select class="form-select" formControlName="agency" (change)="onAgencyChange()">

                  <option *ngFor="let a of agencies" [value]="a">
                    {{ a }}
                  </option>

                </select>

              </div>


              <div class="col-md-3" *ngIf="planForm.get('agency')?.value === 'Internal'">

                <app-searchable-dropdown [required]="true" [fetchDataFn]="getEmployees" [placeholder]="'Search Agency'"
                  [labelName]="'Provider/Agency Name'" [isDisabled]="isViewMode"
                  (itemSelected)="onEmployeeSelected($event)" [selectedItem]="planForm.get('agencyId')?.value">
                </app-searchable-dropdown>

                <div *ngIf="
            planForm.get('agencyId')?.invalid &&
            planForm.get('agencyId')?.touched
        " class="text-danger text-sm mt-1">

                  Provider/Agency Name is required.

                </div>

              </div>

              <!-- EXTERNAL -->
              <div class="col-md-3" *ngIf="planForm.get('agency')?.value === 'External'">

                <label class="form-label small fw-bold">
                  Provider/Agency Name
                  <span class="text-danger">*</span>
                </label>

                <input type="text" class="form-control" formControlName="provider"
                  placeholder="Enter External Agency Name" maxlength="200" [readonly]="isViewMode" [ngClass]="{
            'is-invalid':
            planForm.get('provider')?.touched &&
            planForm.get('provider')?.invalid
        }">

                <div *ngIf="
            planForm.get('provider')?.touched &&
            planForm.get('provider')?.hasError('required')
        " class="text-danger text-sm mt-1">

                  Provider/Agency Name is required.

                </div>

              </div>
              <div class="col-md-2">


                <div class="form-check mt-2">

                  <input type="checkbox" class="form-check-input" id="evaluationRequired"
                    formControlName="evaluationRequired" (change)="onEvaluationRequiredChange()" />

                  <label class="form-check-label fw-bold" for="evaluationRequired">

                    Yes, Evaluation Required

                  </label>

                </div>

              </div>
              <div class="col-md-4" *ngIf="planForm.get('evaluationRequired')?.value">
                <div class="d-flex align-items-end gap-1">

                  <app-searchable-dropdown [placeholder]="'Search Question Set'" [required]="true"
                    [labelName]="'Question Set'" [fetchDataFn]="getQuestionSets"
                    (itemSelected)="onQuestionSelected($event)" [selectedItem]="planForm.get('questionSetId')?.value  "
                    [isDisabled]="isViewMode">
                  </app-searchable-dropdown>
                  <button *ngIf="!isViewMode" type="button" class="btn btn-outline-primary btn-sm mb-1"
                    (click)="openQuestionSetMaster('/question-set-master')" title="Add Cooling Medium">
                    <i class="bi bi-plus-lg"></i>
                  </button>
                </div>
              </div>
              <div class="col-md-4">
                <label class="form-label small fw-bold">Remarks</label>
                <br>
                <!-- <input type="text" class="form-control" formControlName="completionRemarks"
                  placeholder="Notes or additional info"> -->
                <textarea class="option-textarea" formControlName="completionRemarks"
                  placeholder=" Remarks" rows="2" maxlength="250" cols="50"
                  [readonly]="isViewMode">
                        </textarea>
              </div>


            </div>
          </div>

        </div>

        <app-nabl-signature-section [parentForm]="planForm"></app-nabl-signature-section>

        <!-- Footer Actions -->
        <div *ngIf="!isViewMode" class="d-flex justify-content-end gap-2 mt-4 pt-3 border-top">
          <button type="button" class="btn btn-cancel" (click)="onCancel()">Cancel</button>
          <button type="submit" class="btn btn-save">
            <i class="bi bi-save me-1"></i> {{ isEditMode ? 'Update' : 'Save' }} Plan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>