<div class="card shadow-lg m-2">
  <div class="card-header card-form-header text-white text-center">
    <h6 class="text-center">Material Specification Form</h6>
  </div>
  <div class="card-body">
    <form [formGroup]="MaterialSpecificationForm" (ngSubmit)="onSubmit()">
      <!-- Row for basic info -->
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 row-gap-lg-1 mb-2">
        <!--Alias Name-->
        <div class="">
          <label class="form-label">Specification Name</label>
          <input type="text" class="form-control" formControlName="aliasName" placeholder="Specification Name" maxlength="100" />
        </div>
        <!--Standard Organisation Dropdown -->
        <div class="">
          <app-searchable-dropdown
            class="w-100"
            [placeholder]="'Search Organisation'"
            [labelName]="'Standard Organization'"
            [fetchDataFn]="getStandardOrganization"
            (itemSelected)="onOrganizationSelected($event)"
            [hideLabel]="false"
            [required]="true"
            [isDisabled]="isViewMode"
            [selectedItem]="MaterialSpecificationForm.get('standardOrganizationID')?.value"
          ></app-searchable-dropdown>

          <div
            *ngIf="
              MaterialSpecificationForm.get('standardOrganizationID')?.touched &&
              MaterialSpecificationForm.get('standardOrganizationID')?.invalid
            "
            class="text-danger text-sm"
          >
            Standard Organization is required.
          </div>
        </div>

        <!--Part-->
        <div>
          <label class="form-label">Part</label>
          <input type="text" class="form-control" formControlName="part" placeholder="Enter part" maxlength="100" />
        </div>

        <div class="">
          <label class="form-label">
            Year
            <span class="text-danger">*</span>
          </label>
          <input
            type="text"
            class="form-control"
            formControlName="standardYear"
            placeholder="Enter year (2025)"
            maxlength="4"
            appNumberOnly
            [ngClass]="{
              'is-invalid': MaterialSpecificationForm.get('standardYear')?.touched && MaterialSpecificationForm.get('standardYear')?.invalid
            }"
            (blur)="generateSpecificationName()"
          />
          <div
            *ngIf="MaterialSpecificationForm.get('standardYear')?.touched && MaterialSpecificationForm.get('standardYear')?.invalid"
            class="text-danger text-sm"
          >
            Year is required.
          </div>
        </div>
      </div>

      <!--Grade Wise-->
      <div formArrayName="grades" class="accordion" id="gradeAccordion">
        <div *ngFor="let grade of grades.controls; let gi = index" [formGroupName]="gi" class="accordion-item mb-3">
          <h2 class="accordion-header mb-2" id="heading{{ gi }}">
            <button
              class="accordion-button py-1 px-3 small flex-grow-1"
              [ngClass]="{ collapsed: gi !== 0 }"
              type="button"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#collapse' + gi"
              [attr.aria-expanded]="gi === 0 ? 'true' : 'false'"
              [attr.aria-controls]="'collapse' + gi"
              (click)="onGradeAccordionExpand(gi)"
            >
              <span class="btn btn-sm btn-outline-danger" (click)="addGrade()">
                <i class="bi bi-plus-circle-dotted"></i>
                Add Grade
              </span>
              <span class="fw-bold ms-3">
                {{ grade.get("grade")?.value || "New Grade" }}
              </span>
            </button>
          </h2>
          <div
            id="collapse{{ gi }}"
            class="accordion-collapse collapse"
            [ngClass]="{ show: gi === 0 }"
            [attr.aria-labelledby]="'heading' + gi"
            data-bs-parent="#gradeAccordion"
          >
            <div class="accordion-body">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-gap-lg-1 mb-2">
                <div>
                  <label class="form-label">
                    Grade
                    <span class="text-danger">*</span>
                  </label>
                  <input
                    class="form-control"
                    formControlName="grade"
                    placeholder="Enter grade"
                    maxlength="100"
                    (blur)="generateSpecificationName()"
                    [ngClass]="{ 'is-invalid': grade.get('grade')?.touched && grade.get('grade')?.invalid }"
                  />
                  <span *ngIf="grade.get('grade')?.touched && grade.get('grade')?.invalid">Grade is required</span>
                </div>

                <!-- Test Method Specification per-grade -->
                <div class="">
                  <label class="form-label">
                    Test Method Specification
                    <span class="text-danger">*</span>
                  </label>
                  <select
                    formControlName="testMethodSpecificationID"
                    class="form-select"
                    (change)="onTestMethodSelected($event, gi)"
                  >
                    <option value=''>Select Test Method Specification</option>
                    <option *ngFor="let method of standardOrgnizationList" [value]="method.id">
                      {{ method.name }}
                    </option>
                  </select>
                  <div *ngIf="grade.get('testMethodSpecificationID')?.touched && grade.get('testMethodSpecificationID')?.invalid" class="text-danger text-sm">
                    Test Method Specification is required for this grade.
                  </div>
                </div>

                <div class="">
                  <app-searchable-dropdown
                    class="w-100"
                    [placeholder]="'Search Metal Type'"
                    [labelName]="'Metal Classification'"
                    [fetchDataFn]="getMetalClassification"
                    (itemSelected)="onMetalClassificationSelected($event, gi)"
                    [hideLabel]="false"
                    [required]="true"
                    [isDisabled]="isViewMode"
                    [selectedItem]="grade.get('metalClassificationID')?.value"
                  ></app-searchable-dropdown>
                  <div
                    *ngIf="grade.get('metalClassificationID')?.touched && grade.get('standardOrganizationID')?.invalid"
                    class="text-danger text-sm"
                  >
                    Metal Classification is required.
                  </div>
                </div>
                <div class="form-check ps-3">
                  <input type="checkbox" class="form-check-input mt-1 ms-0 me-auto" formControlName="isUNS" id="isUNS-{{gi}}" />
                  <label class="form-label ms-1" for="isUNS-{{gi}}">UNS</label>
                  <label class="form-label float-end" for="UNSSteel-{{gi}}">{{ grade.get("isUNS")?.value ? "UNS " : "" }}Steel Number</label>
                  <input
                    class="form-control"
                    id="UNSSteel-{{gi}}"
                    formControlName="unsSteelNumber"
                    placeholder="Enter steel number"
                    maxlength="100"
                    (blur)="generateSpecificationName()"
                    style="margin-top: -2px"
                  />
                </div>
              </div>
              <ul class="nav nav-tabs mb-2">
                <li class="nav-item">
                  <a class="nav-link" [class.active]="selectedSpecTab[gi] === 'chemical'" (click)="selectSpecTab(gi, 'chemical')">
                    Chemical
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [class.active]="selectedSpecTab[gi] === 'mechanical'" (click)="selectSpecTab(gi, 'mechanical')">
                    Mechanical
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [class.active]="selectedSpecTab[gi] === 'other'" (click)="selectSpecTab(gi, 'other')">Other</a>
                </li>
              </ul>
              <div [formGroupName]="'specificationLines'">
                <!-- Chemical Tab -->
                <div class="p-2" *ngIf="selectedSpecTab[gi] === 'chemical'">
                  <div class="d-flex justify-content-between align-items-center mb-1">
                    <label class="fw-bold fs-6 mb-0">Specification Lines</label>
                    <button
                      *ngIf="!isViewMode"
                      type="button"
                      class="btn btn-sm btn-outline-danger mt-1"
                      (click)="addSpecificationLine(gi, 'chemical')"
                    >
                      <i class="bi bi-plus-circle-dotted"></i>
                      Add Line
                    </button>
                  </div>

                  <div
                    #scrollContainer
                    formArrayName="chemical"
                    class="table-responsive position-relative custom-scroll"
                    style="max-height: calc(100vh - 200px)"
                  >
                    <table class="table table-borderless table-light align-middle" style="min-width: 1200px">
                      <thead>
                        <tr class="text-nowrap text-muted small">
                          <th class="fw-medium text-center">Actions</th>
                          <th class="fw-medium px-2">Manual</th>
                          <th class="fw-medium px-2 wide-input">Parameter</th>
                          <th class="fw-medium px-2 wide-input">Min</th>
                          <th class="fw-medium px-2 wide-input">Max</th>
                          <th class="fw-medium px-2 wide-input">Note</th>
                          <th class="fw-medium px-2 wide-input">Parameter Unit</th>
                          <th class="fw-medium px-2 wide-input">Min Value Equation</th>
                          <th class="fw-medium px-2 wide-input">Max Value Equation</th>
                          <th class="fw-medium px-2 wide-input">Min Tolerance</th>
                          <th class="fw-medium px-2 wide-input">Max Tolerance</th>
                          <th class="fw-medium px-2 wide-input">Specimen Oriantations</th>
                          <th class="fw-medium px-2 wide-input">Dimentional Factor</th>
                          <th class="fw-medium px-2 wide-input">Lower Limit Value</th>
                          <th class="fw-medium px-2 wide-input">Upper Limit Value</th>
                          <th class="fw-medium px-2 wide-input">Heat Treatment</th>
                          <th class="fw-medium px-2 wide-input">Product Condition 1</th>
                          <th class="fw-medium px-2 wide-input">Product Condition 2</th>
                          <!-- <th class="fw-medium px-2 wide-input">Test Methods</th> -->
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container
                          *ngFor="let group of getSpecificationLinesByTab(gi, 'chemical').controls; let i = index"
                          [formGroupName]="i"
                        >
                          <tr>
                            <td class="text-center">
                              <div class="d-flex flex-row gap-1">
                                <button
                                  *ngIf="!isViewMode"
                                  type="button"
                                  class="btn btn-sm btn-danger"
                                  (click)="removeSpecificationLine(gi, i, 'chemical')"
                                >
                                  <i class="bi bi-dash-circle-dotted"></i>
                                </button>
                                <button
                                  type="button"
                                  class="btn btn-sm btn-warning"
                                  (click)="rotateOnce(gi, i, 'chemical')"
                                  [disabled]="isViewMode"
                                >
                                  <i class="bi bi-gear" [ngClass]="{ 'rotate-once': spinningIndex === i }"></i>
                                </button>
                                <!-- <button type="button" class="btn btn-sm btn-success"
                              (click)="copySpecificationLine(gi,i,'chemical')" [disabled]="isViewMode">
                              <i class="bi-copy"></i>
                            </button> -->
                              </div>
                            </td>
                            <td>
                              <div class="form-check mt-1">
                                <input class="form-check-input mt-1" type="checkbox" formControlName="manualSelection" />
                              </div>
                            </td>
                            <td class="wide-input">
                              <app-searchable-dropdown
                                class="w-100"
                                [placeholder]="'Search Parameter'"
                                [labelName]="'Parameter'"
                                [fetchDataFn]="getChemicalParameter"
                                (itemSelected)="onParameterSelected($event, gi, i, 'chemical')"
                                [isDisabled]="isViewMode"
                                [hideLabel]="true"
                                [selectedItem]="group.get('parameterID')?.value"
                              ></app-searchable-dropdown>
                            </td>
                            <td>
                              <input
                                type="number"
                                class="form-control wide-input"
                                formControlName="minValue"
                                placeholder="Enter min value"
                                maxlength="10"
                              />
                            </td>
                            <td>
                              <input
                                type="number"
                                class="form-control wide-input"
                                formControlName="maxValue"
                                placeholder="Enter max value"
                                maxlength="10"
                              />
                            </td>
                            <td>
                              <input class="form-control wide-input" formControlName="notes" placeholder="Enter note" />
                            </td>
                            <td>
                              <!-- Unit Dropdown normal select -->
                              <select class="form-select wide-input" formControlName="parameterUnitID">
                                <option value="" disabled selected>Select Unit</option>
                                <option *ngFor="let unit of parameterUnits" [value]="unit.id">
                                  {{ unit.name }}
                                </option>
                              </select>
                            </td>
                            <td>
                              <input
                                type="number"
                                class="form-control wide-input"
                                formControlName="minValueEquation"
                                placeholder="Enter min value"
                                maxlength="10"
                              />
                            </td>
                            <td>
                              <input
                                type="number"
                                class="form-control wide-input"
                                formControlName="maxValueEquation"
                                placeholder="Enter max value"
                                maxlength="10"
                              />
                            </td>
                            <td>
                              <input
                                type="number"
                                class="form-control wide-input"
                                formControlName="minTolerance"
                                placeholder="Enter min value"
                                maxlength="10"
                              />
                            </td>
                            <td>
                              <input
                                type="number"
                                class="form-control wide-input"
                                formControlName="maxTolerance"
                                placeholder="Enter max value"
                                maxlength="10"
                              />
                            </td>
                            <td>
                              <!-- Specimen Dropdown normal select -->
                              <select class="form-select wide-input" formControlName="specimenOrientationID">
                                <option value="null" disabled selected>Select Orientation</option>
                                <option *ngFor="let specimen of specimenOriantations" [value]="specimen.id">
                                  {{ specimen.name }}
                                </option>
                              </select>
                            </td>
                            <td class="wide-input">
                              <app-searchable-dropdown
                                class="w-100"
                                [placeholder]="'Search Dimentional Factor'"
                                [labelName]="'Dimentional Factor'"
                                [fetchDataFn]="getDimensionalFactor"
                                (itemSelected)="onDimensionalFactorSelected($event, gi, i, 'chemical')"
                                [hideLabel]="true"
                                [isDisabled]="isViewMode"
                                [selectedItem]="group.get('dimensionalFactorID')?.value"
                              ></app-searchable-dropdown>
                            </td>
                            <td>
                              <select class="form-control form-select wide-input" formControlName="lowerLimitValue">
                                <option value="">Select Option</option>
                                <option *ngFor="let op of lowerLimitOptions" [value]="op.value">
                                  {{ op.label }}
                                </option>
                              </select>
                            </td>
                            <td>
                              <select class="form-control form-select wide-input" formControlName="upperLimitValue">
                                <option value="">Select Option</option>
                                <option *ngFor="let op of upperLimitOptions" [value]="op.value">
                                  {{ op.label }}
                                </option>
                              </select>
                            </td>

                            <td class="wide-input">
                              <app-searchable-dropdown
                                class="w-100"
                                [placeholder]="'Search Heat Treatment'"
                                [labelName]="'Heat Treatment'"
                                [fetchDataFn]="getHeatTreatment"
                                (itemSelected)="onHeatTreatmentSelected($event, gi, i, 'chemical')"
                                [isDisabled]="isViewMode"
                                [hideLabel]="true"
                                [selectedItem]="group.get('heatTreatmentID')?.value"
                              ></app-searchable-dropdown>
                            </td>
                            <td class="wide-input">
                              <app-searchable-dropdown
                                class="w-100"
                                [placeholder]="'Search Product Condition'"
                                [labelName]="'Product Condition 1'"
                                [fetchDataFn]="getProductCondition"
                                (itemSelected)="onProductCondition1Selected($event, gi, i, 'chemical')"
                                [isDisabled]="isViewMode"
                                [hideLabel]="true"
                                [selectedItem]="group.get('productConditionID1')?.value"
                              ></app-searchable-dropdown>
                            </td>
                            <td class="wide-input">
                              <app-searchable-dropdown
                                class="w-100"
                                [placeholder]="'Search Product Condition'"
                                [labelName]="'Product Condition 2'"
                                [fetchDataFn]="getProductCondition"
                                (itemSelected)="onProductCondition2Selected($event, gi, i, 'chemical')"
                                [isDisabled]="isViewMode"
                                [hideLabel]="true"
                                [selectedItem]="group.get('productConditionID2')?.value"
                              ></app-searchable-dropdown>
                            </td>
                            <!-- <td>
                          <ng-select [items]="testMethods" bindLabel="label" bindValue="value" labelForId="testMethod"
                            [multiple]="true" placeholder="Select Laboratory Tests" clearAllText="Clear"
                            formControlName="laboratoryTestIDs">
                          </ng-select>
                        </td> -->
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Mechanical Tab -->
                <div class="p-2" *ngIf="selectedSpecTab[gi] === 'mechanical'">
                  <div class="d-flex justify-content-between align-items-center mb-1">
                    <label class="fw-bold fs-6 mb-0">Specification Lines</label>
                    <button
                      *ngIf="!isViewMode"
                      type="button"
                      class="btn btn-sm btn-outline-danger mt-1"
                      (click)="addSpecificationLine(gi, 'mechanical')"
                    >
                      <i class="bi bi-plus-circle-dotted"></i>
                      Add Line
                    </button>
                  </div>

                  <div
                    #scrollContainer
                    formArrayName="mechanical"
                    class="table-responsive position-relative custom-scroll"
                    style="max-height: calc(100vh - 200px)"
                  >
                    <table class="table table-borderless table-light align-middle" style="min-width: 1200px">
                      <thead>
                        <tr class="text-nowrap text-muted small">
                          <th class="fw-medium text-center">Actions</th>
                          <th class="fw-medium px-2">Manual</th>
                          <th class="fw-medium px-2 wide-input">Parameter</th>
                          <th class="fw-medium px-2 wide-input">Min</th>
                          <th class="fw-medium px-2 wide-input">Max</th>
                          <th class="fw-medium px-2 wide-input">Note</th>
                          <th class="fw-medium px-2 wide-input">Parameter Unit</th>
                          <th class="fw-medium px-2 wide-input">Min Value Equation</th>
                          <th class="fw-medium px-2 wide-input">Max Value Equation</th>
                          <th class="fw-medium px-2 wide-input">Min Tolerance</th>
                          <th class="fw-medium px-2 wide-input">Max Tolerance</th>
                          <th class="fw-medium px-2 wide-input">Specimen Oriantations</th>
                          <th class="fw-medium px-2 wide-input">Dimentional Factor</th>
                          <th class="fw-medium px-2 wide-input">Lower Limit Value</th>
                          <th class="fw-medium px-2 wide-input">Upper Limit Value</th>
                          <th class="fw-medium px-2 wide-input">Heat Treatment</th>
                          <th class="fw-medium px-2 wide-input">Product Condition 1</th>
                          <th class="fw-medium px-2 wide-input">Product Condition 2</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container
                          *ngFor="let group of getSpecificationLinesByTab(gi, 'mechanical').controls; let i = index"
                          [formGroupName]="i"
                        >
                          <tr>
                            <td class="text-center">
                              <div class="d-flex flex-row gap-1">
                                <button
                                  *ngIf="!isViewMode"
                                  type="button"
                                  class="btn btn-sm btn-danger"
                                  (click)="removeSpecificationLine(gi, i, 'mechanical')"
                                >
                                  <i class="bi bi-dash-circle-dotted"></i>
                                </button>
                                <button
                                  type="button"
                                  class="btn btn-sm btn-warning"
                                  (click)="rotateOnce(gi, i, 'mechanical')"
                                  [disabled]="isViewMode"
                                >
                                  <i class="bi bi-gear" [ngClass]="{ 'rotate-once': spinningIndex === i }"></i>
                                </button>
                              </div>
                            </td>
                            <td>
                              <div class="form-check mt-1">
                                <input class="form-check-input mt-1" type="checkbox" formControlName="manualSelection" />
                              </div>
                            </td>
                            <td class="wide-input">
                              <app-searchable-dropdown
                                class="w-100"
                                [placeholder]="'Search Parameter'"
                                [labelName]="'Parameter'"
                                [fetchDataFn]="getMechanicalParameter"
                                (itemSelected)="onParameterSelected($event, gi, i, 'mechanical')"
                                [isDisabled]="isViewMode"
                                [hideLabel]="true"
                                [selectedItem]="group.get('parameterID')?.value"
                              ></app-searchable-dropdown>
                            </td>
                            <td>
                              <input
                                type="number"
                                class="form-control wide-input"
                                formControlName="minValue"
                                placeholder="Enter min value"
                                maxlength="10"
                              />
                            </td>
                            <td>
                              <input
                                type="number"
                                class="form-control wide-input"
                                formControlName="maxValue"
                                placeholder="Enter max value"
                                maxlength="10"
                              />
                            </td>
                            <td>
                              <input class="form-control wide-input" formControlName="notes" placeholder="Enter note" />
                            </td>
                            <td>
                              <!-- Unit Dropdown normal select -->
                              <select class="form-select wide-input" formControlName="parameterUnitID">
                                <option value="" disabled selected>Select Unit</option>
                                <option *ngFor="let unit of parameterUnits" [value]="unit.id">
                                  {{ unit.name }}
                                </option>
                              </select>
                            </td>
                            <td>
                              <input
                                type="number"
                                class="form-control wide-input"
                                formControlName="minValueEquation"
                                placeholder="Enter min value"
                                maxlength="10"
                              />
                            </td>
                            <td>
                              <input
                                type="number"
                                class="form-control wide-input"
                                formControlName="maxValueEquation"
                                placeholder="Enter max value"
                                maxlength="10"
                              />
                            </td>
                            <td>
                              <input
                                type="number"
                                class="form-control wide-input"
                                formControlName="minTolerance"
                                placeholder="Enter min value"
                                maxlength="10"
                              />
                            </td>
                            <td>
                              <input
                                type="number"
                                class="form-control wide-input"
                                formControlName="maxTolerance"
                                placeholder="Enter max value"
                                maxlength="10"
                              />
                            </td>
                            <td>
                              <!-- Specimen Dropdown normal select -->
                              <select class="form-select wide-input" formControlName="specimenOrientationID">
                                <option value="null" disabled selected>Select Orientation</option>
                                <option *ngFor="let specimen of specimenOriantations" [value]="specimen.id">
                                  {{ specimen.name }}
                                </option>
                              </select>
                            </td>
                            <td class="wide-input">
                              <app-searchable-dropdown
                                class="w-100"
                                [placeholder]="'Search Dimentional Factor'"
                                [labelName]="'Dimentional Factor'"
                                [fetchDataFn]="getDimensionalFactor"
                                (itemSelected)="onDimensionalFactorSelected($event, gi, i, 'mechanical')"
                                [hideLabel]="true"
                                [isDisabled]="isViewMode"
                                [selectedItem]="group.get('dimensionalFactorID')?.value"
                              ></app-searchable-dropdown>
                            </td>
                            <td>
                              <select class="form-control form-select wide-input" formControlName="lowerLimitValue">
                                <option value="">Select Option</option>
                                <option *ngFor="let op of lowerLimitOptions" [value]="op.value">
                                  {{ op.label }}
                                </option>
                              </select>
                            </td>
                            <td>
                              <select class="form-control form-select wide-input" formControlName="upperLimitValue">
                                <option value="">Select Option</option>
                                <option *ngFor="let op of upperLimitOptions" [value]="op.value">
                                  {{ op.label }}
                                </option>
                              </select>
                            </td>

                            <td class="wide-input">
                              <app-searchable-dropdown
                                class="w-100"
                                [placeholder]="'Search Heat Treatment'"
                                [labelName]="'Heat Treatment'"
                                [fetchDataFn]="getHeatTreatment"
                                (itemSelected)="onHeatTreatmentSelected($event, gi, i, 'mechanical')"
                                [isDisabled]="isViewMode"
                                [hideLabel]="true"
                                [selectedItem]="group.get('heatTreatmentID')?.value"
                              ></app-searchable-dropdown>
                            </td>
                            <td class="wide-input">
                              <app-searchable-dropdown
                                class="w-100"
                                [placeholder]="'Search Product Condition'"
                                [labelName]="'Product Condition 1'"
                                [fetchDataFn]="getProductCondition"
                                (itemSelected)="onProductCondition1Selected($event, gi, i, 'mechanical')"
                                [isDisabled]="isViewMode"
                                [hideLabel]="true"
                                [selectedItem]="group.get('productConditionID1')?.value"
                              ></app-searchable-dropdown>
                            </td>
                            <td class="wide-input">
                              <app-searchable-dropdown
                                class="w-100"
                                [placeholder]="'Search Product Condition'"
                                [labelName]="'Product Condition 2'"
                                [fetchDataFn]="getProductCondition"
                                (itemSelected)="onProductCondition2Selected($event, gi, i, 'mechanical')"
                                [isDisabled]="isViewMode"
                                [hideLabel]="true"
                                [selectedItem]="group.get('productConditionID2')?.value"
                              ></app-searchable-dropdown>
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Other Tab -->
                <div class="p-2" *ngIf="selectedSpecTab[gi] === 'other'">
                  <div class="d-flex justify-content-between align-items-center mb-1">
                    <label class="fw-bold fs-6 mb-0">Specification Lines</label>
                    <button
                      *ngIf="!isViewMode"
                      type="button"
                      class="btn btn-sm btn-outline-danger mt-1"
                      (click)="addSpecificationLine(gi, 'other')"
                    >
                      <i class="bi bi-plus-circle-dotted"></i>
                      Add Line
                    </button>
                  </div>

                  <div
                    #scrollContainer
                    formArrayName="other"
                    class="table-responsive position-relative custom-scroll"
                    style="max-height: calc(100vh - 200px)"
                  >
                    <table class="table table-borderless table-light align-middle" style="min-width: 1200px">
                      <thead>
                        <tr class="text-nowrap text-muted small">
                          <th class="fw-medium text-center">Actions</th>
                          <th class="fw-medium px-2">Manual</th>
                          <th class="fw-medium px-2 wide-input">Parameter</th>
                          <th class="fw-medium px-2 wide-input">Min</th>
                          <th class="fw-medium px-2 wide-input">Max</th>
                          <th class="fw-medium px-2 wide-input">Note</th>
                          <th class="fw-medium px-2 wide-input">Parameter Unit</th>
                          <th class="fw-medium px-2 wide-input">Min Value Equation</th>
                          <th class="fw-medium px-2 wide-input">Max Value Equation</th>
                          <th class="fw-medium px-2 wide-input">Min Tolerance</th>
                          <th class="fw-medium px-2 wide-input">Max Tolerance</th>
                          <th class="fw-medium px-2 wide-input">Specimen Oriantations</th>
                          <th class="fw-medium px-2 wide-input">Dimentional Factor</th>
                          <th class="fw-medium px-2 wide-input">Lower Limit Value</th>
                          <th class="fw-medium px-2 wide-input">Upper Limit Value</th>
                          <th class="fw-medium px-2 wide-input">Heat Treatment</th>
                          <th class="fw-medium px-2 wide-input">Product Condition 1</th>
                          <th class="fw-medium px-2 wide-input">Product Condition 2</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container
                          *ngFor="let group of getSpecificationLinesByTab(gi, 'other').controls; let i = index"
                          [formGroupName]="i"
                        >
                          <tr>
                            <td class="text-center">
                              <div class="d-flex flex-row gap-1">
                                <button
                                  *ngIf="!isViewMode"
                                  type="button"
                                  class="btn btn-sm btn-danger"
                                  (click)="removeSpecificationLine(gi, i, 'other')"
                                >
                                  <i class="bi bi-dash-circle-dotted"></i>
                                </button>
                                <button
                                  type="button"
                                  class="btn btn-sm btn-warning"
                                  (click)="rotateOnce(gi, i, 'other')"
                                  [disabled]="isViewMode"
                                >
                                  <i class="bi bi-gear" [ngClass]="{ 'rotate-once': spinningIndex === i }"></i>
                                </button>
                              </div>
                            </td>
                            <td>
                              <div class="form-check mt-1">
                                <input class="form-check-input mt-1" type="checkbox" formControlName="manualSelection" />
                              </div>
                            </td>
                            <td class="wide-input">
                              <app-searchable-dropdown
                                class="w-100"
                                [placeholder]="'Search Parameter'"
                                [labelName]="'Parameter'"
                                [fetchDataFn]="getParameter"
                                (itemSelected)="onParameterSelected($event, gi, i, 'other')"
                                [isDisabled]="isViewMode"
                                [hideLabel]="true"
                                [selectedItem]="group.get('parameterID')?.value"
                              ></app-searchable-dropdown>
                            </td>
                            <td>
                              <input
                                type="number"
                                class="form-control wide-input"
                                formControlName="minValue"
                                placeholder="Enter min value"
                                maxlength="10"
                              />
                            </td>
                            <td>
                              <input
                                type="number"
                                class="form-control wide-input"
                                formControlName="maxValue"
                                placeholder="Enter max value"
                                maxlength="10"
                              />
                            </td>
                            <td>
                              <input class="form-control wide-input" formControlName="notes" placeholder="Enter note" />
                            </td>
                            <td>
                              <!-- Unit Dropdown normal select -->
                              <select class="form-select wide-input" formControlName="parameterUnitID">
                                <option value="" disabled selected>Select Unit</option>
                                <option *ngFor="let unit of parameterUnits" [value]="unit.id">
                                  {{ unit.name }}
                                </option>
                              </select>
                            </td>
                            <td>
                              <input
                                type="number"
                                class="form-control wide-input"
                                formControlName="minValueEquation"
                                placeholder="Enter min value"
                                maxlength="10"
                              />
                            </td>
                            <td>
                              <input
                                type="number"
                                class="form-control wide-input"
                                formControlName="maxValueEquation"
                                placeholder="Enter max value"
                                maxlength="10"
                              />
                            </td>
                            <td>
                              <input
                                type="number"
                                class="form-control wide-input"
                                formControlName="minTolerance"
                                placeholder="Enter min value"
                                maxlength="10"
                              />
                            </td>
                            <td>
                              <input
                                type="number"
                                class="form-control wide-input"
                                formControlName="maxTolerance"
                                placeholder="Enter max value"
                                maxlength="10"
                              />
                            </td>
                            <td>
                              <!-- Specimen Dropdown normal select -->
                              <select class="form-select wide-input" formControlName="specimenOrientationID">
                                <option value="null" disabled selected>Select Orientation</option>
                                <option *ngFor="let specimen of specimenOriantations" [value]="specimen.id">
                                  {{ specimen.name }}
                                </option>
                              </select>
                            </td>
                            <td class="wide-input">
                              <app-searchable-dropdown
                                class="w-100"
                                [placeholder]="'Search Dimentional Factor'"
                                [labelName]="'Dimentional Factor'"
                                [fetchDataFn]="getDimensionalFactor"
                                (itemSelected)="onDimensionalFactorSelected($event, gi, i, 'other')"
                                [hideLabel]="true"
                                [isDisabled]="isViewMode"
                                [selectedItem]="group.get('dimensionalFactorID')?.value"
                              ></app-searchable-dropdown>
                            </td>
                            <td>
                              <select class="form-control form-select wide-input" formControlName="lowerLimitValue">
                                <option value="">Select Option</option>
                                <option *ngFor="let op of lowerLimitOptions" [value]="op.value">
                                  {{ op.label }}
                                </option>
                              </select>
                            </td>
                            <td>
                              <select class="form-control form-select wide-input" formControlName="upperLimitValue">
                                <option value="">Select Option</option>
                                <option *ngFor="let op of upperLimitOptions" [value]="op.value">
                                  {{ op.label }}
                                </option>
                              </select>
                            </td>

                            <td class="wide-input">
                              <app-searchable-dropdown
                                class="w-100"
                                [placeholder]="'Search Heat Treatment'"
                                [labelName]="'Heat Treatment'"
                                [fetchDataFn]="getHeatTreatment"
                                (itemSelected)="onHeatTreatmentSelected($event, gi, i, 'other')"
                                [isDisabled]="isViewMode"
                                [hideLabel]="true"
                                [selectedItem]="group.get('heatTreatmentID')?.value"
                              ></app-searchable-dropdown>
                            </td>
                            <td class="wide-input">
                              <app-searchable-dropdown
                                class="w-100"
                                [placeholder]="'Search Product Condition'"
                                [labelName]="'Product Condition 1'"
                                [fetchDataFn]="getProductCondition"
                                (itemSelected)="onProductCondition1Selected($event, gi, i, 'other')"
                                [isDisabled]="isViewMode"
                                [hideLabel]="true"
                                [selectedItem]="group.get('productConditionID1')?.value"
                              ></app-searchable-dropdown>
                            </td>
                            <td class="wide-input">
                              <app-searchable-dropdown
                                class="w-100"
                                [placeholder]="'Search Product Condition'"
                                [labelName]="'Product Condition 2'"
                                [fetchDataFn]="getProductCondition"
                                (itemSelected)="onProductCondition2Selected($event, gi, i, 'other')"
                                [isDisabled]="isViewMode"
                                [hideLabel]="true"
                                [selectedItem]="group.get('productConditionID2')?.value"
                              ></app-searchable-dropdown>
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!isViewMode" class="d-flex justify-content-end gap-2 mt-4">
        <a [routerLink]="['/material-specification']" class="btn btn-warning">Cancel</a>
        <!--Copy and Save -->
        <button
          type="button"
          class="btn"
          [ngClass]="{ 'btn-danger': !isCopyMode, 'btn-success': isCopyMode }"
          (click)="copyMaterialSpecification()"
        >
          <i class="bi bi-files"></i>
          {{ !isCopyMode ? "Copy & Save" : "Save" }}
        </button>
        <button *ngIf="!isCopyMode" type="submit" class="btn btn-success px-3">Save</button>
      </div>
    </form>
  </div>
</div>

<!-- Modal for Actions -->
<ng-container *ngIf="modalVisible">
  <div
    id="customerTypeModal"
    class="modal fade"
    #modalRef
    tabindex="-1"
    data-bs-backdrop="static"
    aria-labelledby="customerTypeModalLabel"
    aria-modal="true"
    role="dialog"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header card-form-header text-white">
          <label class="modal-title fs-6 fw-medium" id="customerTypeModalLabel">Add Laboratory Test & Product Condition</label>
          <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="closeModal()"></button>
        </div>

        <!-- Use ng-container to check and assign formGroup once -->
        <ng-container *ngIf="getCurrentSpecificationLineFormGroup(currentTab) as currentFormGroup">
          <form [formGroup]="currentFormGroup">
            <div class="modal-body">
              <div *ngIf="getSpecificationLinesByTab(currentGradeIndex, currentTab).length > 0">
                <!-- Laboratory Tests -->
                <div>
                  <app-multi-select-dropdown
                    [placeholder]="'Select multiple items...'"
                    [required]="true"
                    [isDisabled]="false"
                    [labelName]="'Laboratory Tests'"
                    [fetchDataFn]="getLaboratoryTest"
                    [selectedValues]="currentFormGroup.get('laboratoryTestIDs')?.value"
                    (itemsSelected)="onLaboratoryTestChange($event, currentTab)"
                  ></app-multi-select-dropdown>
                </div>
              </div>
            </div>

            <div *ngIf="!isViewMode" class="modal-footer">
              <button type="button" class="btn btn-dark" (click)="closeModal()">Cancel</button>
              <button type="button" class="btn navbar-background text-white" (click)="closeModal()">
                {{ isEditMode ? "Update" : "Save" }}
              </button>
            </div>
          </form>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
