<div class="container-fluid mt-4 d-flex flex-column align-items-center">
  <app-nabl-register-table
    [title]="'F-37: Quality Assurance / Control Plan'"
    [addButtonLabel]="'Add Plan'"
    [addRoute]="'/quality-control-plan/create'"
    [baseRoute]="'/quality-control-plan'"
    [columns]="columns"
    [data]="listData"
    [totalItems]="totalItems"
    [isLoading]="false"
    [showSerialNumber]="true"
    [showActions]="true"
    [showPagination]="true"
    (onPageChange)="onPageChange($event)"
    (onDelete)="deleteRecord($event)"
  ></app-nabl-register-table>
</div>
