<div class="container-fluid mt-4 d-flex flex-column align-items-center">
  <app-nabl-register-table
    [title]="'Responsibility & Authority Matrix'"
    [addButtonLabel]="'Add Matrix'"
    [addRoute]="'/responsibility-authority/create'"
    [baseRoute]="'/responsibility-authority'"
    [columns]="columns"
    [data]="matrixList"
    [totalItems]="totalItems"
    [isLoading]="isLoading()"
    [showSerialNumber]="true"
    [showActions]="true"
    [showPagination]="true"
    (onPageChange)="onPageChange($event)"
    (onDelete)="deleteMatrix($event)">
  </app-nabl-register-table>
</div>
