@import '../account-shared.css';

.po-container {
  padding: 20px;
  background-color: #f8f9fa;
  min-height: calc(100vh - 80px);
}

@media (max-width: 768px) {
  .po-container {
    padding: 10px;
  }
}
