.input-file {
  cursor: pointer !important;
}
.nav-tabs .nav-link {
  color: #1a1a80;
  /* Custom color */
}
.nav-tabs .nav-link.active {
  /* Active tab color */
  border-color: #ff2c1f;
  background: #ff2c1f;
  border-bottom: 0;
}
