/* F-26 Supplier Evaluation Record Preview styles */

.container-width {
    max-width: 900px;
}

.navbar-background {
    background-color: #DA261C !important;
}

@media print {
    .no-print {
        display: none !important;
    }
}
