<form [formGroup]="multiForm">
  <label *ngIf="!hideLabel" class="form-label" [ngClass]="{ 'mb-1': smallInput }">
    {{ labelName }} <span *ngIf="required" class="text-danger">*</span>
  </label>

  <ng-select
    [items]="items"
    [ngClass]="{ 'ng-select-sm': smallInput }"
    bindLabel="name"
    bindValue="id"
    [multiple]="true"
    [closeOnSelect]="false"
    [placeholder]="placeholder"
    formControlName="search"
    [loading]="loading"
    [virtualScroll]="true"
    [clearable]="true"
    (scrollToEnd)="onScrollToEnd()"
    [typeahead]="typeahead"
    (change)="onChange($event)"
    [readonly]="isDisabled"
    dropdownPosition="auto"
  >
  </ng-select>
  <div *ngIf="multiForm.get('search')?.errors?.['required'] && multiForm.get('search')?.touched" class="text-danger small">
   {{labelName}} Selection is required.
  </div>
</form>
