.container-width {
  max-width: 900px;
}

.navbar-background {
  background-color: #DA261C !important;
}

@media print {
  .no-print {
    display: none !important;
  }
}

.minutes-info {
  font-size: 1rem;
}

.ql-editor {
  min-height: 40px;
  line-height: 1.4;
  padding: 0;
}

.border-dark {
  border-color: #000 !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

table {
  font-size: 0.9rem;
}

th,
td {
  padding: 8px !important;
  border: 1px solid #000 !important;
}

.discussions-section,
.action-items-section {
  page-break-inside: avoid;
}
