<div class="card p-3">
  <form [formGroup]="cuttingPriceForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-4">
        <label>Cutting Type</label>
        <input formControlName="cuttingType" class="form-control" placeholder="Hacksaw" />
      </div>

      <div class="col-md-4">
        <label>Unit Type</label>
        <select formControlName="unitType" class="form-control">
            <option value="" disabled>Select Option</option>
          <option *ngFor="let unit of unitTypes" [value]="unit">{{ unit }}</option>
        </select>
      </div>

      <div class="col-md-4">
        <label>Rate Per Unit (₹)</label>
        <input type="number" formControlName="ratePerUnit" class="form-control" placeholder="50" />
      </div>

      <div class="col-md-8 mt-3">
        <label>Remarks</label>
        <textarea formControlName="remarks" rows="2" class="form-control" placeholder="add remark"></textarea>
      </div>

      <div class="col-md-4 mt-3 d-flex align-items-end">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="isActive" />
          <label class="form-check-label">Is Active</label>
        </div>
      </div>
    </div>

    <div class="mt-3 text-end">
      <button class="btn btn-primary" type="submit">
        {{ editingId ? 'Update' : 'Add' }}
      </button>
      <button class="btn btn-secondary ms-2" type="button" (click)="resetForm()">Clear</button>
    </div>
  </form>
</div>

<hr />

<div class="table-responsive mt-4">
  <table class="table table-bordered table-sm">
    <thead>
      <tr>
        <th>Cutting Type</th>
        <th>Unit</th>
        <th>Rate (₹)</th>
        <th>Active</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of priceList">
        <td>{{ item.cuttingType }}</td>
        <td>{{ item.unitType }}</td>
        <td>{{ item.ratePerUnit }}</td>
        <td>{{ item.isActive ? 'Yes' : 'No' }}</td>
        <td>
          <button class="btn btn-sm btn-outline-primary" (click)="edit(item)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
