<div class="position-relative w-100">
    <label for="exampleDataList" class="form-label">{{labelName}} <span *ngIf="required" class="text-danger">*</span></label>
    <input type="text" id="exampleDataList" class="form-control" [placeholder]="placeholder" name="searchInput" [(ngModel)]="selectedLabel"
        [required]="required" #inputRef="ngModel"
        [ngClass]="{ 'is-invalid': required && inputRef.invalid && inputRef.touched }"
        [disabled]="isDisabled"
        (input)="handleInput($event)"
        (focus)="onFocus()" (blur)="onBlur()" autocomplete="off" />
    <div *ngIf="required && inputRef.invalid && inputRef.touched" class="invalid-feedback">
        This field is required.
    </div>

    <ul *ngIf="showDropdown && dropdownData.length > 0" class="list-group position-absolute w-100 z-3 mt-1"
        style="max-height: 200px; overflow-y: auto; top: 100%; left: 0;" (scroll)="onScroll($event)">
        <li class="list-group-item cursor-pointer" *ngFor="let item of dropdownData" (mousedown)="selectItem(item)">
            {{ item.name }}
        </li>
        <li *ngIf="loading" class="list-group-item">Loading...</li>
    </ul>
</div>