<div class="container-fluid mt-4 d-flex flex-column align-items-center">
  <div class="card w-100 shadow-lg">
    <!-- Main Header -->
    <div class="card-header card-form-header text-white d-flex justify-content-between align-items-center">
      <label class="text-md fw-medium ms-3">{{ formTitle }}</label>
      <button type="button" class="btn btn-outline-light btn-sm me-3" (click)="onCancel()">
        <i class="bi bi-arrow-left"></i>
        Back to List
      </button>
    </div>

    <div class="card-body">
      <form [formGroup]="uncertaintyForm" (ngSubmit)="onSubmit()">
        <!-- Section I: Header Information -->
        <div class="accordion-section mb-3">
          <div class="section-header" (click)="toggleSection('header')">
            <i class="bi" [ngClass]="openSections['header'] ? 'bi-chevron-down' : 'bi-chevron-right'"></i>
            <span class="fw-bold ms-2">I. Header Information</span>
            <div class="ms-auto pe-3 text-muted small">Format Details</div>
          </div>
          <div *ngIf="openSections['header']" class="section-body">
            <div class="row gy-3">
              <div class="col-md-3">
                <label class="form-label">
                  Form Number
                  <span class="text-danger">*</span>
                </label>
                <select class="form-select" formControlName="formatNo">
                  <option value="" disabled>Select Form</option>
                  <option *ngFor="let form of formNumbers" [value]="form">{{ form }}</option>
                </select>
              </div>
              <div class="col-md-3">
                <label class="form-label">
                  Document No.
                  <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control fw-bold" formControlName="documentNo" placeholder="MU-0001" />
              </div>
              <div class="col-md-2">
                <label class="form-label">
                  Issue No
                  <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" formControlName="issueNo" placeholder="e.g. 01" />
              </div>
              <div class="col-md-2">
                <label class="form-label">
                  Date
                  <span class="text-danger">*</span>
                </label>
                <input type="date" class="form-control" formControlName="date" />
              </div>
              <div class="col-md-2">
                <label class="form-label">
                  Rev No
                  <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" formControlName="revNo" placeholder="e.g. 00" />
              </div>
            </div>
          </div>
        </div>

        <!-- Section II: Test Information -->
        <div class="accordion-section mb-3">
          <div class="section-header" (click)="toggleSection('testInfo')">
            <i class="bi" [ngClass]="openSections['testInfo'] ? 'bi-chevron-down' : 'bi-chevron-right'"></i>
            <span class="fw-bold ms-2">II. Test Information</span>
          </div>
          <div *ngIf="openSections['testInfo']" class="section-body">
            <div class="row g-3">
              <div class="col-md-4">
                <label class="form-label">
                  MU Code
                  <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" formControlName="muCode" placeholder="mu code " />
                <div *ngIf="uncertaintyForm.get('muCode')?.invalid && uncertaintyForm.get('muCode')?.touched"
                  class="text-danger text-sm mt-1">
                  mu code is required
                </div>
              </div>
              <div class="col-md-4">
                <label class="form-label">
                  Version
                  <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" formControlName="version" placeholder="version" />
                <div *ngIf="uncertaintyForm.get('version')?.invalid && uncertaintyForm.get('version')?.touched"
                  class="text-danger text-sm mt-1">
                  version is required
                </div>
              </div>
              <div class="col-md-4">
                <label class="form-label">
                  Effective Date
                  <span class="text-danger">*</span>
                </label>
                <input type="date" class="form-control" formControlName="effectiveDate" />
                <div
                  *ngIf="uncertaintyForm.get('effectiveDate')?.invalid && uncertaintyForm.get('effectiveDate')?.touched"
                  class="text-danger text-sm mt-1">
                  effective date is required
                </div>
              </div>
              <!-- <div class="col-md-4">
                <label class="form-label">
                  Review Date
                  <span class="text-danger">*</span>
                </label>
                <input type="date" class="form-control" formControlName="reviewDate" />
                <div *ngIf="uncertaintyForm.get('reviewDate')?.invalid && uncertaintyForm.get('reviewDate')?.touched"
                  class="text-danger text-sm mt-1">
                  review date is required
                </div>
              </div> -->

              <div class="col-md-4">
                <app-searchable-dropdown [placeholder]="'Search Test'" [labelName]="'Laboratory Test'"
                  [fetchDataFn]="getLaboratoryTest" (itemSelected)="onLaboratorySelected($event)" [hideLabel]="false"
                  [required]="true" [isDisabled]="isViewMode"
                  [selectedItem]="uncertaintyForm.get('laboratoryTestID')?.value">
                </app-searchable-dropdown>
                <div
                  *ngIf="uncertaintyForm.get('laboratoryTestID')?.invalid && uncertaintyForm.get('laboratoryTestID')?.touched"
                  class="text-danger text-sm mt-1">
                  laboratory test is required
                </div>
              </div>
              <div class="col-md-4">
                <label class="form-label">
                  Test Parameter
                  <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" formControlName="testParameter"
                  placeholder="e.g. Tensile Strength" />
                <div
                  *ngIf="uncertaintyForm.get('testParameter')?.invalid && uncertaintyForm.get('testParameter')?.touched"
                  class="text-danger text-sm mt-1">
                  test parameter is required
                </div>
              </div>
              <div class="col-md-4">
                <app-searchable-dropdown [fetchDataFn]="getTestMethodDropdown"
                  [selectedItem]="uncertaintyForm.get('testMethodID')?.value"
                  (itemSelected)="onTestMethodSelected($event)" [placeholder]="'Select Test Method'"
                  [labelName]="'Test Method'" [isDisabled]="isViewMode" [required]="true">
                </app-searchable-dropdown>
                <div
                  *ngIf="uncertaintyForm.get('testMethodID')?.invalid && uncertaintyForm.get('testMethodID')?.touched"
                  class="text-danger text-sm mt-1">
                  test method is required
                </div>
              </div>
              <div class="col-md-4">
                <app-searchable-dropdown [labelName]="'Equipment'" [placeholder]="'Select Equipment'" [required]="true"
                  [isDisabled]="isViewMode" [fetchDataFn]="fetchEquipmentList"
                  [selectedItem]="uncertaintyForm.get('equipmentID')?.value"
                  (itemSelected)="onEquipmentSelected($event)">
                </app-searchable-dropdown>
                <div *ngIf="uncertaintyForm.get('equipmentID')?.invalid && uncertaintyForm.get('equipmentID')?.touched"
                  class="text-danger text-sm mt-1">
                  equipment is required
                </div>
              </div>

              <div class="col-md-4">
                <label class="form-label">
                  Remarks
                </label>
                <input type="text" class="form-control" formControlName="remarks" placeholder="remarks" />
              </div>
            </div>
          </div>
        </div>

        <!-- Section III: Measurement Readings -->

        <!-- Section IV: Sources of Uncertainty -->
        <div class="accordion-section mb-3">
          <div class="section-header d-flex justify-content-between align-items-center"
            (click)="toggleSection('sources')">
            <div>
              <i class="bi" [ngClass]="openSections['sources'] ? 'bi-chevron-down' : 'bi-chevron-right'"></i>
              <span class="fw-bold ms-2">III. Sources of Uncertainty</span>
            </div>
            <button *ngIf="!isViewMode" type="button" class="btn btn-sm btn-light py-0 me-3"
              (click)="addUncertaintySource(); $event.stopPropagation()">
              <i class="bi bi-plus-lg me-1"></i>
              Add Source
            </button>
          </div>
          <div *ngIf="openSections['sources']" class="section-body p-0">
            <div class="table-responsive m-0">
              <table class="table table-bordered mb-0">
                <thead class="bg-light">
                  <tr>
                    <th class="ps-3 py-2 small fw-bold text-muted">Source Name</th>
                    <th class="py-2 small fw-bold text-muted" style="width: 120px">Type</th>
                    <th class="py-2 small fw-bold text-muted" style="width: 140px">Distribution</th>
                    <th class="py-2 small fw-bold text-muted" style="width: 140px">Input Value</th>
                    <th class="py-2 small fw-bold text-muted" style="width: 140px">Divisor</th>
                    <th class="py-2 small fw-bold text-muted" style="width: 140px">Sensitivity Coeff.</th>
                    <th class="py-2 small fw-bold text-muted" style="width: 140px">Std. Uncertainty</th>
                    <th class="py-2 small fw-bold text-muted" style="width: 140px">Unit</th>
                    <th class="py-2 small fw-bold text-muted" style="width: 120px">Remarks</th>
                    <th *ngIf="!isViewMode" class="py-2 small fw-bold text-muted text-center" style="width: 60px">Action
                    </th>
                  </tr>
                </thead>
                <tbody formArrayName="uncertaintySources">
                  <tr *ngFor="let src of uncertaintySources.controls; let i = index" [formGroupName]="i">
                    <td class="ps-3">
                      <!-- <input type="text" class="form-control form-control-sm" formControlName="source"
                        placeholder="Source name" /> -->
                      <select class="form-select" formControlName="source">
                        <option *ngFor="let source of sourcees" [value]="source">{{source}}</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-select form-select-sm" formControlName="type">
                        <option value="Type A">Type A</option>
                        <option value="Type B">Type B</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-select form-select-sm" formControlName="distribution"
                        (change)="onDistributionChange(i)">
                        <option value="Normal">Normal</option>
                        <option value="Rectangular">Rectangular</option>
                        <option value="Triangular">Triangular</option>
                        <option value="U-shaped">U-shaped</option>
                      </select>
                    </td>
                    <td>
                      <input type="number" step="0.0001" class="form-control form-control-sm"
                        formControlName="inputValue" placeholder="value" />
                      <small class="text-danger"
                        *ngIf="src.get('inputValue')?.invalid && (src.get('inputValue')?.touched)">
                        value is required.
                      </small>
                    </td>
                    <td>
                      <input type="number" step="0.0001" class="form-control form-control-sm" formControlName="divisor"
                        placeholder="divisor" readonly />
                      <small class="text-danger" *ngIf="src.get('divisor')?.invalid && (src.get('divisor')?.touched)">
                        divisor is required.
                      </small>
                    </td>
                    <td>
                      <input type="number" step="0.01" class="form-control form-control-sm"
                        formControlName="sensitivityCoefficient" placeholder="sensitivity coeff." />
                      <small class="text-danger"
                        *ngIf="src.get('sensitivityCoefficient')?.invalid && (src.get('sensitivityCoefficient')?.touched)">
                        sensitivity coeff. is required.
                      </small>
                    </td>
                    <td>
                      <input type="number" step="0.0001" class="form-control form-control-sm"
                        formControlName="standardUncertainty" readonly />
                    </td>
                    <td>
                      <input type="text" step="0.0001" class="form-control form-control-sm" formControlName="unit"
                        placeholder="unit" />
                      <small class="text-danger" *ngIf="src.get('unit')?.invalid && (src.get('unit')?.touched)">
                        unit is required.
                      </small>
                    </td>
                    <td>
                      <input type="text" step="0.0001" class="form-control form-control-sm" formControlName="remarks"
                        placeholder="remarks" />
                    </td>
                    <td *ngIf="!isViewMode" class="text-center">
                      <button type="button" class="btn btn-sm text-danger" (click)="removeUncertaintySource(i)"
                        [disabled]="uncertaintySources.length === 1">
                        <i class="bi bi-trash3"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Section V: Statistical Analysis -->
        <div class="accordion-section mb-3">
          <div class="section-header" (click)="toggleSection('analysis')">
            <i class="bi" [ngClass]="openSections['analysis'] ? 'bi-chevron-down' : 'bi-chevron-right'"></i>
            <span class="fw-bold ms-2">IV. Calculation Summary</span>
          </div>
          <div *ngIf="openSections['analysis']" class="section-body">
            <div class="row g-3">
              <div class="col-md-3">
                <label class="form-label">Sum Of Squares</label>
                <input type="number" step="0.001" class="form-control" formControlName="sumOfSquares" readonly />
              </div>
              <div class="col-md-3">
                <label class="form-label">Combined Satnder Uncertainty</label>
                <input type="number" step="0.0001" class="form-control" formControlName="combinedUncertainty"
                  readonly />
                <div
                  *ngIf="uncertaintyForm.get('combinedUncertainty')?.invalid && uncertaintyForm.get('combinedUncertainty')?.touched"
                  class="text-danger text-sm mt-1">
                  combined uncertainty is required
                </div>

              </div>
              <div class="col-md-3">
                <label class="form-label">Coverage Factor (k)</label>
                <input type="number" step="0.1" class="form-control" formControlName="coverageFactor" />
                <div
                  *ngIf="uncertaintyForm.get('coverageFactor')?.invalid && uncertaintyForm.get('coverageFactor')?.touched"
                  class="text-danger text-sm mt-1">
                  coverage factor is required
                </div>
              </div>
              <div class="col-md-3">
                <label class="form-label text-success fw-bold">Expanded Uncertainty (U)</label>
                <input type="number" step="0.0001" class="form-control border-success"
                  formControlName="expandedUncertainty" readonly />
                <div
                  *ngIf="uncertaintyForm.get('expandedUncertainty')?.invalid && uncertaintyForm.get('expandedUncertainty')?.touched"
                  class="text-danger text-sm mt-1">
                  expanded uncertainty is required
                </div>

              </div>
            </div>
          </div>
        </div>

        <app-nabl-signature-section [parentForm]="uncertaintyForm"></app-nabl-signature-section>

        <!-- Footer Actions -->
        <div *ngIf="!isViewMode" class="d-flex justify-content-end gap-2 mt-3 mb-2">
          <button type="button" class="btn btn-cancel" (click)="onCancel()">Cancel</button>
          <button type="submit" class="btn btn-save">
            {{ isEditMode ? "Update Record" : "Save Record" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>