<div class="container-fluid mt-4 d-flex flex-column align-items-center">
  <div class="card w-100 shadow-lg">
    <!-- Main Header -->
    <div class="card-header card-form-header text-white d-flex justify-content-between align-items-center">
      <label class="text-md fw-medium ms-3">{{ formTitle }}</label>
      <button type="button" class="btn btn-outline-light btn-sm me-3" (click)="onCancel()">
        <i class="bi bi-arrow-left"></i>
        Back to List
      </button>
    </div>

    <div class="card-body">
      <form [formGroup]="ncForm" (ngSubmit)="onSubmit()">
        <!-- Section I: Header Information -->
        <div class="accordion-section mb-3">
          <div class="section-header" (click)="toggleSection('header')">
            <i class="bi" [ngClass]="openSections['header'] ? 'bi-chevron-down' : 'bi-chevron-right'"></i>
            <span class="fw-bold ms-2">I. Header Information</span>
          </div>
          <div *ngIf="openSections['header']" class="section-body">
            <div class="row gy-3">
              <div class="col-md-3">
                <label class="form-label">
                  Form Number
                  <span class="text-danger">*</span>
                </label>
                <select class="form-select" formControlName="formatNo">
                  <option *ngFor="let form of formNumbers" [value]="form">{{ form }}</option>
                </select>
              </div>
              <div class="col-md-3">
                <label class="form-label">
                  Document No.
                  <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" formControlName="docNo" />
              </div>
              <div class="col-md-2">
                <label class="form-label">
                  Issue No
                  <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" formControlName="issueNo" />
              </div>
              <div class="col-md-2">
                <label class="form-label">
                  Date
                  <span class="text-danger">*</span>
                </label>
                <input type="date" class="form-control" formControlName="date" />
              </div>
              <div class="col-md-2">
                <label class="form-label">
                  Rev No
                  <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" formControlName="revNo" />
              </div>
            </div>
          </div>
        </div>

        <!-- Section II: NC Detail -->
        <div class="accordion-section mb-3">
          <div class="section-header" (click)="toggleSection('basicInfo')">
            <i class="bi" [ngClass]="openSections['basicInfo'] ? 'bi-chevron-down' : 'bi-chevron-right'"></i>
            <span class="fw-bold ms-2">II. Non-Conformance Information</span>
          </div>
          <div *ngIf="openSections['basicInfo']" class="section-body">
            <div class="row gy-3">
              <div class="col-md-6">
                <label class="form-label">
                  Non-Conformance Date
                  <span class="text-danger">*</span>
                </label>
                <input type="date" class="form-control" formControlName="ncDate" />
              </div>
              <div class="col-6">
                <label class="form-label fw-bold">
                  Non-Conformance Detail
                  <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" formControlName="ncDescription"
                  placeholder="non-conformance details" />
                <div *ngIf="ncForm.get('ncDescription')?.touched && ncForm.get('ncDescription')?.hasError('required')"
                  class="text-danger text-sm mt-1">
                  complaint name is required.
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Section III: Analysis -->
        <div class="accordion-section mb-3">
          <div class="section-header" (click)="toggleSection('analysis')">
            <i class="bi" [ngClass]="openSections['analysis'] ? 'bi-chevron-down' : 'bi-chevron-right'"></i>
            <span class="fw-bold ms-2">III. Root Cause Analysis</span>
          </div>
          <div *ngIf="openSections['analysis']" class="section-body">
            <div class="col-12 d-flex flex-column">
              <quill-editor formControlName="rootCauseAnalysis" [modules]="quillModules"
                placeholder="Analyze the root cause..."></quill-editor>
            </div>
          </div>
        </div>

        <!-- Section IV: Action & Closure -->
        <div class="accordion-section mb-3">
          <div class="section-header" (click)="toggleSection('action')">
            <i class="bi" [ngClass]="openSections['action'] ? 'bi-chevron-down' : 'bi-chevron-right'"></i>
            <span class="fw-bold ms-2">IV. Corrective Action & Closure</span>
          </div>
          <div *ngIf="openSections['action']" class="section-body">
            <div class="row gy-3">
              <div class="col-12 d-flex flex-column">
                <label class="form-label fw-bold">Corrective Action Taken</label>
                <quill-editor formControlName="correctiveAction" [modules]="quillModules"></quill-editor>
              </div>
              <div class="col-md-6">
                <label class="form-label">NC Closer Date</label>
                <input type="date" class="form-control" formControlName="closerDate" />
              </div>
              <!-- <div class="col-md-6">
                <label class="form-label">Signature Of TD/QM</label>
                <input type="text" class="form-control" formControlName="signatureTDQM" />
              </div> -->
            </div>
          </div>
        </div>


        <app-nabl-signature-section [parentForm]="ncForm"></app-nabl-signature-section>

        <!-- Footer Actions -->
        <div *ngIf="!isViewMode" class="d-flex justify-content-end gap-2 mt-3 mb-2">
          <button type="button" class="btn btn-cancel" (click)="onCancel()">Cancel</button>
          <button type="submit" class="btn btn-save">
            {{ isEditMode ? "Update Record" : "Save Record" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>